<!DOCTYPE html>
<html>
<head>
    <php>$activity=R('Common/MemberActivity/getListApi',[$session_member['mid'],$session_member['store_id'],true]);</php>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>会员活动</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/hui/css/hui.css" />
    <style>
        body{background-color: #f7f7f7}
        .hui-media-list .hui-media-list-img {width: 18%;padding: 10px;}
        .hui-media-list ul li{margin-top:20px;border-radius: 5px}
    </style>
</head>
<body>
<div class="hui-wrap">
    <div class="hui-media-list" style="padding:10px;">
        <ul>
            <foreach name="activity" item="v">
            <li>
                <div class="hui-media-list-img"><img src="__PUBLIC__/amp/member/{$v.type}.png"></div>
                <div class="hui-media-content">
                    <h1>{$v.desc}</h1>
                    <p>
                        <switch name="v.type">
                            <case value="cz">会员特权即充即送</case>
                            <case value="xf">自动返至会员卡</case>
                            <case value="jh">激活会员卡鼓励金秒到账</case>
                            <case value="tj">推荐新会员一起获奖励</case>
                            <default />
                        </switch>
                        </p>
                    <p>{$v.list_desc}</p>
                </div>
            </li>
            </foreach>
        </ul>
    </div>
</div>
<script src="__PUBLIC__/hui/js/hui.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>