<include file="Public/header"/>
<div id="content-container">
    <div id="page-content">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">{:$title}</h3>

            </div>
            <div class="panel-body">
                <div class="pad-btm form-inline">
                    <div class="row">
                        <div class="col-sm-6 text-xs-center">
                            <div class="form-group">
                                <a class="btn btn-purple" href="{:U('AdDataAdd')}"><i class="demo-pli-add icon-fw"></i>添加广告位</a>
                            </div>
                        </div>
                        <div class="col-sm-6 text-xs-center text-right">
                        </div>
                    </div>
                </div>
                <table id="demo-foo-addrow" class="table table-bordered table-hover toggle-circle table-vcenter" data-page-size="7">
                    <thead>
                    <tr>
                        <th class="text-center">广告名称</th>
                        <th class="text-center">广告位置</th>
                        <th class="text-center">开始时间</th>
                        <th class="text-center">结束时间</th>
                        <th class="text-center">是否在执行时间内</th>
                        <th class="text-center">广告状态</th>
                        <th class="text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name="data" item="v">
                        <tr>
                            <td class="text-center">{$v.name}</td>
                            <td class="text-center">
                                <switch name="v.type">
                                    <case value="pay_success">支付完成页面</case>
                                    <case value="mch_notify">商家收款通知</case>
                                    <case value="pay_notify">用户支付成功通知</case>
                                    <default />默认
                                </switch>
                            </td>
                            <td class="text-center">{$v.start_time}</td>
                            <td class="text-center">{$v.end_time}</td>
                            <td class="text-center"> <eq name="v.is_time" value="1">
                                <span  class="label label-primary" style="font-size:12px;font-weight:1;border-radius: 5px;cursor: pointer;">在广告日期内</span>
                                <else/>
                                <span class="label label-default" style="font-size:12px;font-weight:1;border-radius: 5px;cursor: pointer;">不在日期内</span>
                            </eq></td>
                            <td class="text-center"> <eq name="v.status" value="1">
                                <span  class="label label-primary" style="font-size:12px;font-weight:1;border-radius: 5px;cursor: pointer;">正常</span>
                                <else/>
                                <span class="label label-default" style="font-size:12px;font-weight:1;border-radius: 5px;cursor: pointer;">禁用</span>
                            </eq></td>
                            <td class="text-center">
                                <button class="btn btn-purple btn-sm" type="button" onclick="edit({$v.id})" >编辑</button>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="11">
                            <div class="text-right">
                                <ul class="pagination">{$page}</ul>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript" src="__PUBLIC__/plug/CSXClass/distpicker.min.js"></script>
<script>


    $('#Ad_Add').click(function () {
        $('.chosen-container').css('width', '250px');
        //$('#myModalLabel').html('添加公众号');
        $('input').val('');
        $('#Ad-add').modal('show');
    });

    function IMG(url) {
        $.fancybox.open(url);
    }

    function edit(id) {
        window.location.href='{:U("AdDataAdd")}/id/'+id;
    }

</script>
<include file="Public/footer"/>