.G-layout-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.G-layout-box .G-box-col {
	width: 100%;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.G-layout-box .G-box-col25 {
	-webkit-box-flex: 2.5;
	-ms-flex: 2.5;
	flex: 2.5
}

.G-layout-box .G-box-col75 {
	-webkit-box-flex: 7.5;
	-ms-flex: 7.5;
	flex: 7.5
}

.G-center-v {
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center
}

.G-center-h {
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center
}

.G-justify {
	-webkit-box-pack: space-between;
	justify-content: space-between
}

.G-card {
	margin-bottom: .08rem;
	background: #fff
}
.G-salesService .mod1 {
	background: #108ee9;
	color: #fff;
	padding: .2rem .18rem
}

.G-salesService .mod1>.txt-t {
	padding-bottom: .3rem
}

.G-salesService .mod1 .txt-t .iconfont {
	font-size: .17rem;
	opacity: .5;
	margin-right: .08rem
}

.G-salesService .mod1 .G-box-col .sub-t {
	opacity: .5
}

.G-salesService .mod1 .txt-c {
	padding: 0 0 .3rem;
	border-bottom: 1px solid #2aa2f9;
	border-bottom-width: .5px
}

.G-salesService .mod1 .sub-t {
	padding-bottom: .1rem
}

.G-salesService .mod1 .txt-b {
	padding: .3rem 0 .1rem
}

.G-listFnCard .mod1 .G-layout-box:not(:last-child) {
	border-bottom: 1px solid #e7e4d6;
	border-bottom-width: .5px
}

.G-listFnCard .mod1 a {
	display: block;
	height: 1.13rem;
	overflow: hidden
}

.G-listFnCard .mod1 .sub-b {
	color: #000
}

.G-listFnCard .mod1 .ico-wrap {
	height: .76rem;
	line-height: .8rem
}

.G-listFnCard .mod1 .iconfont {
	font-size: .36rem
}

.G-listFnCard .mod1 .icon-user {
	color: #6381ff
}

.G-listFnCard .mod1 .icon-business {
	color: #57c474
}

.G-listFnCard .mod1 .icon-search,.G-listFnCard .mod1 .icon-tupian {
	color: #e9ab23;
	font-size: .4rem
}

.G-listFnCard .mod1 .icon-team {
	color: #57c474;
	line-height: .84rem
}

.G-listFnCard .mod1 .icon-rank {
	color: #c02cab;
	font-size: .4rem
}

.G-BarSearch {
	background: #e7e8eb;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%
}

.G-BarSearch .mod1 {
	padding: .07rem .18rem
}

.G-BarSearch .mod1 .inner-wrap {
	padding: 0 .1rem;
	background: #fff;
	border-radius: .18rem;
	line-height: .25rem
}

.G-BarSearch .mod1 .inner-wrap input {
	font-size: .12rem;
	color: #000;
	width: 100%;
	height: .25rem;
	line-height: .3rem
}

.G-BarSearch .mod1 .inupt-wrap {
	padding: 0 .05rem
}

.G-BarSearch .mod1 .icon-search1 {
	color: #bfb9a4
}

.G-BarSearch .mod1 .icon-close {
	color: #d5d1c0
}

.G-BarSearch-onblur .mod1 .iconfont {
	visibility: hidden
}

.G-BarSearch-onblur .mod1 .inner-wrap input {
	text-align: center
}

.G-listRetailShop .mod1 {
	padding: .07rem .12rem
}

.G-listRetailShop .mod1 li {
	padding: 0 .1rem;
	border: 1px solid rgba(0,0,0,.1);
	border-width: .5px;
	margin-bottom: .15rem;
	box-shadow: 2px 2px 4px rgba(0,0,0,.06)
}

.G-listRetailShop .mod1 .phone {
	display: block;
	line-height: .3rem;
	border-bottom: 1px dashed rgba(0,0,0,.06);
	border-bottom-width: .5px
}

.G-listRetailShop .mod1 .tit {
	color: #000;
	line-height: .24rem;
	padding-top: .05rem
}

.G-listRetailShop .mod1 .name {
	line-height: .12rem
}

.G-listRetailShop .mod1 .tel {
	line-height: .18rem;
	padding-bottom: .05rem
}

.G-keypad {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%
}

.G-keypad .mod1 .G-box-col {
	line-height: .8rem;
	font-size: .37rem;
	color: #3b3245
}

.G-keypad .mod1 .G-box-col .iconfont {
	font-size: .26rem
}

.G-keypad .mod1 .G-layout-box:not(:last-child) {
	border-bottom: 1px solid #ddd7cb;
	border-bottom-width: .5px
}

.G-keypad .mod1 .G-box-col:not(:last-child) {
	border-right: 1px solid #ddd7cb;
	border-right-width: .5px
}

.G-tradeSearch .mod1 {
	padding: .33rem .18rem
}

.G-tradeSearch .mod1 .tradeSearchInput {
	height: .47rem;
	line-height: .48rem;
	width: 100%;
	border-radius: .03rem;
	border: 1px solid #d6d2c5;
	border-width: .5px
}

.G-tradeSearch .mod1 .btn-wrap {
	padding-top: .35rem
}

.G-tradeSearch .mod1 .btn-wrap .G-btn {
	height: .45rem;
	line-height: .45rem;
	font-size: .17rem
}

.G-tradeSearch .mod1 .btn-wrap .G-btn-c {
	background: none;
	border-radius: .03rem
}

.G-tradeSearch .mod1 .btn-wrap .G-box-col:not(:first-child) {
	padding-left: .08rem
}

.G-tradeSearch .mod1 .btn-wrap .G-box-col:not(:last-child) {
	padding-right: .08rem
}

.G-codeCard .mod1 {
	text-align: center
}

.G-codeCard .mod1 .codepic {
	padding: .3rem .73rem 0
}

.G-codeCard .mod1 .codepic .innerdiv {
	border-radius: .05rem;
	border: 1px solid #dad9d9;
	border-width: .5px;
	padding: .1rem
}

.G-codeCard .mod1 .codepic img {
	width: 100%
}

.G-codeCard .mod1 .bottxt {
	font-size: .18rem;
	color: #000;
	line-height: .6rem
}

.align-bottom {
	position: fixed;
	bottom: 0;
	width: 100%
}

.align-center {
	position: absolute;
	top: 45%;
	left: 20%;
	right: 20%;
	display: block;
	text-align: center
}

.sms-box {
	display: inline-block;
	height: .27rem;
	font-size: .13rem;
	line-height: .27rem;
	text-align: center;
	border: 1px solid;
	border-radius: .05rem;
	margin-left: .38rem
}

.mint-msgbox-confirm {
	color: #fff;
	width: 50%;
	background-color: #3586ff;
	border-radius: .05rem;
	font-size: 16px
}

.mint-msgbox-message {
	font-size: 14px
}

.mint-msgbox-content {
	border-bottom: 0
}

.mint-msgbox-btns {
	margin: 0 .1rem .1rem
}

.mint-navbar .mint-tab-item.is-selected {
	z-index: 999
}

.mint-button--primary {
	background-color: #3586ff
}

.el-input__icon+.el-input__inner {
	border: 0
}

.el-input__inner {
	border-radius: 0
}

.ellipsis {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.photo-browser {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10500
}

.photo-browser .bar-tab .tab-item .icon {
	width: .07rem;
	height: .07rem;
	margin-top: -.025rem
}

.photo-browser .bar-tab~.photo-browser-captions {
	bottom: .26rem;
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}

.photo-browser.photo-browser-in {
	display: block;
	-webkit-animation: photoBrowserIn .4s forwards;
	animation: photoBrowserIn .4s forwards
}

.photo-browser.photo-browser-out {
	display: block;
	-webkit-animation: photoBrowserOut .4s forwards;
	animation: photoBrowserOut .4s forwards
}

html.with-statusbar-overlay .photo-browser {
	height: calc(100% - 1rem);
	top: 1rem
}

.popup>.photo-browser .navbar,.popup>.photo-browser .toolbar,body>.photo-browser .navbar,body>.photo-browser .toolbar {
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}

.photo-browser .page[data-page=photo-browser-slides] {
	background: none
}

.photo-browser .page {
	position: absolute;
	left: 0;
	top: 0;
	background: #efeff4
}

.photo-browser .page,.photo-browser .view {
	box-sizing: border-box;
	width: 100%;
	height: 100%
}

.photo-browser .view {
	overflow: hidden;
	position: relative;
	z-index: 5000
}

.page[data-page=photo-browser-slides] .toolbar a {
	color: #4cd964
}

.photo-browser-popup {
	background: none
}

.photo-browser .navbar,.photo-browser .toolbar,.view[data-page=photo-browser-slides] .navbar,.view[data-page=photo-browser-slides] .toolbar {
	background: hsla(0,0%,97%,.95);
	-webkit-transition: .4s;
	transition: .4s
}

.view[data-page=photo-browser-slides] .page[data-page=photo-browser-slides] .navbar,.view[data-page=photo-browser-slides] .page[data-page=photo-browser-slides] .toolbar {
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}

.photo-browser-exposed .navbar,.photo-browser-exposed .toolbar {
	opacity: 0;
	visibility: hidden;
	pointer-events: none
}

.photo-browser-exposed .photo-browser-swiper-container {
	background: #000
}

.photo-browser-of {
	margin: 0 .025rem
}

.photo-browser-captions {
	pointer-events: none;
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
	z-index: 10;
	opacity: 1;
	-webkit-transition: .4s;
	transition: .4s
}

.photo-browser-captions.photo-browser-captions-exposed {
	opacity: 0
}

.toolbar~.photo-browser-captions {
	bottom: .22rem;
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}

.photo-browser-exposed .toolbar~.photo-browser-captions {
	-webkit-transform: translate3d(0,.22rem,0);
	transform: translate3d(0,.22rem,0)
}

.toolbar~.photo-browser-captions.photo-browser-captions-exposed {
	transformt: ranslate3d(0,0,0)
}

.photo-browser-caption {
	box-sizing: border-box;
	-webkit-transition: .3s;
	transition: .3s;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0;
	padding: .02rem .025rem;
	width: 100%;
	text-align: center;
	color: #fff;
	background: rgba(0,0,0,.8)
}

.photo-browser-caption:empty {
	display: none
}

.photo-browser-caption.photo-browser-caption-active {
	opacity: 1
}

.photo-browser-captions-light .photo-browser-caption {
	background: hsla(0,0%,100%,.8);
	color: #3d4145
}

.photo-browser-exposed .photo-browser-caption {
	color: #fff;
	background: rgba(0,0,0,.8)
}

.photo-browser-swiper-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #fff;
	-webkit-transition: .4s;
	transition: .4s
}

.photo-browser-swiper-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	display: -webkit-box;
	display: flex
}

.photo-browser-link-inactive {
	opacity: .3
}

.photo-browser-slide {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	flex-shrink: 0;
	box-sizing: border-box
}

.photo-browser-slide.transitioning {
	-webkit-transition: .4s;
	transition: .4s
}

.photo-browser-slide span.photo-browser-zoom-container {
	width: 100%;
	text-align: center;
	display: none
}

.photo-browser-slide img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	display: none
}

.photo-browser-slide.swiper-slide-active span.photo-browser-zoom-container,.photo-browser-slide.swiper-slide-next span.photo-browser-zoom-container,.photo-browser-slide.swiper-slide-prev span.photo-browser-zoom-container {
	display: block
}

.photo-browser-slide.swiper-slide-active img,.photo-browser-slide.swiper-slide-next img,.photo-browser-slide.swiper-slide-prev img {
	display: inline
}

.photo-browser-slide.swiper-slide-active.photo-browser-slide-lazy .preloader,.photo-browser-slide.swiper-slide-next.photo-browser-slide-lazy .preloader,.photo-browser-slide.swiper-slide-prev.photo-browser-slide-lazy .preloader {
	display: block
}

.photo-browser-slide iframe {
	width: 100%;
	height: 100%
}

.photo-browser-slide .preloader {
	display: none;
	position: absolute;
	width: .21rem;
	height: .21rem;
	margin-left: -.21rem;
	margin-top: -.21rem;
	left: 50%;
	top: 50%
}

.photo-browser-dark .navbar,.photo-browser-dark .toolbar {
	background: rgba(30,30,30,.8);
	color: #fff
}

.photo-browser-dark .navbar:after,.photo-browser-dark .navbar:before,.photo-browser-dark .toolbar:after,.photo-browser-dark .toolbar:before {
	display: none
}

.photo-browser-dark .navbar a,.photo-browser-dark .toolbar a {
	color: #fff
}

.photo-browser-dark .photo-browser-swiper-container {
	background: #000
}

@-webkit-keyframes photoBrowserIn {
	0% {
		-webkit-transform: translateZ(0) scale(.5);
		transform: translateZ(0) scale(.5);
		opacity: 0
	}

	to {
		-webkit-transform: translateZ(0) scale(1);
		transform: translateZ(0) scale(1);
		opacity: 1
	}
}

@keyframes photoBrowserIn {
	0% {
		-webkit-transform: translateZ(0) scale(.5);
		transform: translateZ(0) scale(.5);
		opacity: 0
	}

	to {
		-webkit-transform: translateZ(0) scale(1);
		transform: translateZ(0) scale(1);
		opacity: 1
	}
}

@-webkit-keyframes photoBrowserOut {
	0% {
		-webkit-transform: translateZ(0) scale(1);
		transform: translateZ(0) scale(1);
		opacity: 1
	}

	to {
		-webkit-transform: translateZ(0) scale(.5);
		transform: translateZ(0) scale(.5);
		opacity: 0
	}
}

@keyframes photoBrowserOut {
	0% {
		-webkit-transform: translateZ(0) scale(1);
		transform: translateZ(0) scale(1);
		opacity: 1
	}

	to {
		-webkit-transform: translateZ(0) scale(.5);
		transform: translateZ(0) scale(.5);
		opacity: 0
	}
}

.photo-browser .bar-nav {
	display: none
}

.photo-browser .bar-tab~.content {
	bottom: 0
}

.photo-browser .bar-nav~.content {
	top: 0
}

.photo-browser .bar-tab {
	position: absolute;
	right: 0;
	left: 0;
	z-index: 10;
	height: .5rem;
	top: 50%;
	margin-top: -.25rem;
	bottom: auto;
	background: none;
	padding: 0 .15rem
}

.photo-browser .icon-next,.photo-browser .icon-prev {
	background-image: none
}

.photo-browser .bar-tab .tab-item .icon {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: .5rem;
	height: .5rem
}

.photo-browser .icon-prev:before {
	content: "\E65D";
	font-size: .23rem
}

.photo-browser .icon-next:before {
	content: "\E65C";
	font-size: .23rem
}

.photo-browser .bar-tab .tab-item {
	border-radius: 50%;
	background: rgba(0,0,0,.2);
	display: inline-block;
	height: .5rem;
	width: .5rem;
	line-height: .5rem;
	color: #fff;
	opacity: .55
}

.photo-browser .bar-tab:before {
	background: none
}

.photo-browser .swiper-button-disabled {
	visibility: hidden
}

.photo-browser .photo-browser-prev {
	float: left
}

.photo-browser .photo-browser-next {
	float: right
}
