<extend name="Common:base" />
<block name="top_css">
    <style>
        .border-left{border-left:1px solid #dcdcdc;}
        .margin-left-30{margin-left:30px!important;}
        .margin-right-54{margin-right:54px;}
        .float-left{float:left;}
        .zzxunlong-activeity{position:relative;display:inline-block;width:300px;height:320px;margin-bottom:36px;border:1px solid #dcdcdc;text-align:center;}
        .zzxunlong-title{padding-top:30px;font-size:20px;color:#333;}
        .zzxunlong-alert{padding:20px 0 27px 0px;font-size:16px;color:#999;}
        .zzxunlong-img{display:block;width:117px;height:115px;margin:auto;margin-bottom:30px;}
        .zzxunlong-activeity a{display:inline-block;width:120px;height:30px;line-height:30px;border-radius:6px;background:#ff5e5f;color:#fff;font-size:14px;}
        .zzxunlong_logo{position:absolute;top:-1px;left:-1px;width:62px;height:62px;}
        .zzxunlong-top-alert{position:absolute;top:5px;left:8px;font-size:18px;color:#fff;}
        .zzxunlong-right{display:inline-block;width:480px;height:305px;margin-left:48px;background:url("__PUBLIC__/amp/member/info-bg.png") no-repeat;background-position:center;background-size:cover;}
        .zzxunlong-right-width{width:440px;padding-left:40px;}
        .zzxunlong-right-title{padding-top:40px;padding-bottom:30px;font-size:16px;color:#333;}
        .zzxunlong-right-title span{font-size:28px;color:#fb7632;}
        .zzxunlong-right-alert{font-size:16px;color:#7d7d7d;}
        .zzxunlong-right-alert span{display:inline-block;padding-top:17px;}
        .zzxunlong-activity-bg{width:420px;margin-top:20px;font-size:0;}
        .zzxunlong-activity-display{display:inline-block;width:33.3%;font-size:16px;color:#666;text-align:center;}
        .zzxunlong-activity-display span{display:inline-block;margin-left:-14px;padding-top:5px;color:#fe898a;}
        .other-activity-bg{width:270px;height:320px;border:1px solid #dcdcdc;text-align:center;}
        .other-activity-bg p{padding-top:27px;font-size:16px;color:#333;}
        .other-activity-bg h3{padding-bottom:27px;font-size:14px;color:#999;font-weight:normal!important;}
        .other-activity-bg a{display:inline-block;width:110px;height:30px;line-height:30px;border-radius:6px;background:#ff5e5f;color:#fff;font-size:14px;}
        .consume-img{display:block;margin:auto;width:88px;height:88px;margin-bottom:36px;}
        .active-img{display:block;margin:auto;width:88px;height:88px;margin-bottom:36px;}
        .zzxunlong-activity-display p{margin-bottom:5px;}
        .zzxunlong-activity-display p:nth-child(2){color: #02c0ce}
    </style>
</block>
<block name="body">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box" style="padding: 50px">
                <button type="button" class="btn btn-pink btn-rounded w-md waves-effect waves-light float-right btn-sm" data-url="{:U('lists')}"><i class="mdi mdi-account-convert"></i> 活动列表</button>
                <h4 class="header-title m-b-30">创建活动</h4>
                <div class="row">
                    <div class="col-md-12">
                        <div class="zzxunlong-activeity float-left">
                            <img class="zzxunlong_logo" src="__PUBLIC__/amp/member/hot.png" alt="">
                            <span class="zzxunlong-top-alert">荐</span>
                            <div class="zzxunlong-title">充值送</div>
                            <div class="zzxunlong-alert">充值即收益，快速回笼资金</div>
                            <img class="zzxunlong-img" src="__PUBLIC__/amp/member/cz.png" alt="">
                            <button type="button" class="btn btn-custom waves-effect waves-light btn-sm" data-url="{:U('activity_cz')}">立即使用</button>
                        </div>
                        <div class="zzxunlong-right float-left">
                            <div class="margin-left-30 zzxunlong-right-width zzxunlong-right-title"><span>90%</span> 商家的选择，让散客变会员，锁住老顾客。</div>
                            <div class="margin-left-30 zzxunlong-right-width zzxunlong-right-alert">
                                建议充值送比例为10%～20%，各级别依次增高，<br>
                                <span style="color: #686868">例如：</span>
                            </div>
                            <div class="margin-left-30 zzxunlong-activity-bg">
                                <div class="zzxunlong-activity-display ">
                                    <p>充100元</p>
                                    <p>送10元</p>
                                </div>
                                <div class="zzxunlong-activity-display  border-left">
                                    <p>充200元</p>
                                    <p>送30元</p>
                                </div>
                                <div class="zzxunlong-activity-display  border-left">
                                    <p>充500元</p>
                                    <p>送100元</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="margin-right-54 other-activity-bg float-left">
                            <p>消费返</p>
                            <h3>消费返余额，引导二次购买</h3>
                            <img class="consume-img" src="__PUBLIC__/amp/member/xf.png" alt="">
                            <button type="button" class="btn btn-custom waves-effect waves-light btn-sm" data-url="{:U('activity_xf')}">立即使用</button>
                        </div>
                        <div class="margin-right-54 other-activity-bg float-left">
                            <p>激活送</p>
                            <h3>激活赠余额，快速发展会员</h3>
                            <img class="active-img" src="__PUBLIC__/amp/member/jh.png" alt="">
                            <button type="button" class="btn btn-custom waves-effect waves-light btn-sm" data-url="{:U('activity_jh')}">立即使用</button>
                        </div>
                        <div class="other-activity-bg float-left">
                            <p>推荐送</p>
                            <h3>推荐送余额，扩大会员传播</h3>
                            <img class="active-img" src="__PUBLIC__/amp/member/tj.png" alt="">
                            <button type="button" class="btn btn-custom waves-effect waves-light btn-sm" data-url="{:U('activity_tj')}">立即使用</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="footer_js">
<script type="application/javascript">
    $('.btn').click(function (e) {
        var url=$(this).data('url');
        console.log(url);
        if(url!==''){
            window.location.href=url;
        }
    })
</script>
</block>