<extend name="Common:base" />
<block name="title">创建充值送活动</block>
<block name="menu_name">
    创建充值送活动
</block>
<block name="top_css">
        <link href="__PUBLIC__/amp/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/amp/plugins/sweet-alert/sweetalert2.min.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/amp/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
        <link href="__PUBLIC__/amp/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
        <link href="__PUBLIC__/amp/plugins/spinkit/spinkit.css" rel="stylesheet" />
        <link href="__PUBLIC__/amp/plugins/jquery-toastr/jquery.toast.min.css" rel="stylesheet" />
</block>
<block name="body">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <h4 class="m-t-0 m-b-30 header-title">创建活动</h4>
                <form role="form">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>活动名称</label>
                                <input type="text" class="form-control" name="name" placeholder="最多10个汉字" required>
                                <small  class="form-text text-muted">设置会员活动后，活动内容将展示在用户支付后页面</small>
                            </div>
                        </div>
                    </div>
                    <div id="acItem">
                        <div class="row acList">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>活动规则</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">充值</span>
                                        </div>
                                        <input type="number" min="0.01" class="form-control" name="cz_money[]"  step="0.01" placeholder="" required>
                                        <div class="input-group-append">
                                            <span class="input-group-text"> 元,送</span>
                                        </div>
                                        <input type="number" min="0.01" class="form-control" name="cz_total[]" step="0.01" placeholder="" required>
                                        <div class="input-group-append">
                                            <span class="input-group-text"> 元</span>
                                        </div>
                                        <div class="input-group-append">
                                            <button type="button" class="ac-add btn waves-effect waves-light btn-success"> <i class="fa fa-plus"></i>添加</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" >
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>时间规则</label>
                                <div class="form-control" style="border:0">
                                <div class="radio radio-info form-check-inline">
                                    <input type="radio"  value="1" name="rule_type" checked="">
                                    <label > 指定时间 </label>
                                </div>
                                <div class="radio radio-info form-check-inline">
                                    <input type="radio"  value="2" name="rule_type">
                                    <label > 不限时间</label>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="rule_time">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>时间范围</label>
                                <input type="text" id="date" name="rule_time" class="form-control"  placeholder="请选择开始至结束时间">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>所属门店</label>
                                <select data-placeholder="请选择门店,支持多选..."  class="form-control select2 select2-multiple" multiple="multiple"  name="store_id[]" required>
                                    <foreach name="store" item="v">
                                        <option value="{$v.id}">{$v.name}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">提交</button>
                </form>
            </div>
        </div>
    </div>
</block>
<block name="footer_js">
    <script src="__PUBLIC__/amp/plugins/moment/moment.js"></script>
    <script src="__PUBLIC__/amp/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="__PUBLIC__/amp/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="__PUBLIC__/amp/plugins/jquery-toastr/jquery.toast.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/amp/plugins/select2/js/select2.min.js" type="text/javascript"></script>
    <script>
        jQuery(document).ready(function () {
            $(".select2").select2();
            $('#date').daterangepicker({
                opens: 'left',
                drops: 'down',
                buttonClasses: ['btn', 'btn-sm'],
                applyClass: 'btn-success',
                cancelClass: 'btn-light',
                separator: ' to ',
                locale: {
                    applyLabel: '确定',
                    cancelLabel: '取消',
                    fromLabel: '起始时间',
                    toLabel: '结束时间',
                    customRangeLabel: '自定义',
                    daysOfWeek: ["日", "一", "二", "三", "四", "五", "六"],
                    monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                    firstDay: 1
                }
            });
            $("[name='rule_type']").change(ruleType);
        });
        $('.ac-add').click(function (e) {
            var num = $('.acList').length;
            var html= " <div class=\"row acList item"+new Date().getTime()+"\">\n" +
                "                        <div class=\"col-md-5\">\n" +
                "                            <div class=\"form-group\">\n" +
                "                                <div class=\"input-group\">\n" +
                "                                    <div class=\"input-group-prepend\">\n" +
                "                                        <span class=\"input-group-text\">充值</span>\n" +
                "                                    </div>\n" +
                "                                    <input type=\"number\" min=\"0.01\" class=\"form-control\" name=\"cz_money[]\" step=\"0.01\" placeholder=\"\" required>\n" +
                "                                    <div class=\"input-group-append\">\n" +
                "                                        <span class=\"input-group-text\"> 元,送</span>\n" +
                "                                    </div>\n" +
                "                                    <input type=\"number\" min=\"0.01\" class=\"form-control\" name=\"cz_total[]\" step=\"0.01\" placeholder=\"\" required>\n" +
                "                                    <div class=\"input-group-append\">\n" +
                "                                        <span class=\"input-group-text\"> 元</span>\n" +
                "                                    </div>\n" +
                "                                    <div class=\"input-group-append\">\n" +
                "                                        <button type=\"button\" class=\"delete btn waves-effect waves-light btn-danger\" onclick=\"ac_delete('item"+new Date().getTime()+"')\"> <i class=\"fa fa-times\"></i>删除</button>\n" +
                "                                    </div>\n" +
                "                                </div>\n" +
                "                            </div>\n" +
                "                        </div>\n" +
                "                    </div>";
            if (num <= 2){
                $("#acItem").append(html);
            } else{
                toast('error',"规则最多只能添加3个");
            }
        });
        function ac_delete(e) {
            $('.'+e).remove();
        }

        function ruleType() {
            var val=$("[name='rule_type']:checked").val(),rule_time=$('#rule_time');
            console.log(val);
            if(val==1){
                rule_time.show();
            }else{
                rule_time.hide();
            }
        }


        $(function() {
            $("form").submit(function (e) {
                e.preventDefault();
                var ajax_data = $(this).serialize();
                var actionurl = $(this).attr("action");
                $.post(actionurl, ajax_data, function (data) {
                    if (data.status === 1) {
                        $.toast({
                            heading: '温馨提示!',
                            text: data.info,
                            position: 'top-right',
                            loaderBg: '#5ba035',
                            icon: 'success',
                            hideAfter: 3000,
                            stack: 1
                        });
                        setTimeout(function () {
                            window.location.href="{:U('activity')}";
                        }, 3000);
                    }
                    else {
                        $.toast({
                            heading: '温馨提示',
                            text: data.info,
                            position: 'top-right',
                            loaderBg: '#bf441d',
                            icon: 'error',
                            hideAfter: 3000,
                            stack: 1
                        });
                    }
                }, 'json');
            });
        });



    </script>
</block>
