@charset "utf-8";
	body,div,fieldset,form,h1,h2,h3,h4,h5,h6,html,p {
	-webkit-text-size-adjust:none
}
.span01,.ticket2,.ticket2 i {
	position:relative
}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
	margin:0;
	padding:0;
	border:0;
	outline:0
}
body {
	font:16px/1.5 'Microsoft Yahei',helvetica,arial;
	min-width:320px;
	color:#333
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%
}
form {
	display:inline
}
li,ol,ul {
	list-style:none
}
:focus {
	outline:0
}
a,a:hover {
	text-decoration:none
}
img {
	vertical-align:middle;
	border:0;
	-ms-interpolation-mode:bicubic;
	-webkit-tap-highlight-color:transparent
}
button,input,input[type=button],input[type=reset],input[type=submit],select,textarea {
	font-size:100%;
	vertical-align:middle;
	outline:0;
	-moz-appearance:none;
	-webkit-appearance:none;
	appearance:none
}
textarea {
	resize:none
}
table {
	border-collapse:collapse;
	border-spacing:0;
	word-break:break-all
}
.clean {
	clear:both
}
.l {
	float:left
}
.r {
	float:right
}
.ellipsis {
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
.bg1 {
	background:#efeff4
}
.bg2 {
	background:#f5f2ef
}
.div01,.ul01 {
	background:#fff
}
.div01 {
	border-top:1px solid #e1e1e1;
	border-bottom:1px solid #fff;
	padding:15px
}
.icon01 {
	width:42px;
	border-radius:200px
}
.mt15 {
	margin-top:15px
}
.mr15 {
	margin-right:15px
}
.mt10 {
	margin-top:10px
}
.cor-9 {
	color:#999
}
.cor-c4 {
	color:#c4c4c4
}
.cor-red {
	color:#fc4b4e
}
.fz12 {
	font-size:14px
}
.fz14,.fz16 {
	font-size:16px
}
.fz20 {
	font-size:20px
}
.fz22 {
	font-size:22px
}
.text01 {
	border:0;
	text-align:right;
	font-size:20px;
	width:80%;
	padding:0;
	border-radius:0
}
.bonuses-name,.bonuses-text1,.bonuses-text2,.footer01,.p1,.ticket-tag,.ticket2 p,.title01 {
	text-align:center
}
.ul01,.ul01 li {
	border-bottom:1px solid #e1e1e1
}
.ul01 {
	padding-left:15px;
	border-top:1px solid #e1e1e1
}
.ul01 li {
	padding:12px 15px 12px 0
}
.ul01 li:last-child {
	border-bottom:0
}
.span01 {
	top:8px
}
.w94 {
	width:90%;
	margin-left:auto;
	margin-right:auto
}
.w100 {
	width:100%
}
.btn-green,.btn-green-non {
	background:#06bf04;
	font-size:16px;
	text-align:center;
	border:1px solid #1a9d18;
	border-radius:5px;
	height:40px;
	line-height:40px;
	color:#fff
}
.div03,.table02,.table02 table tr td {
	border-bottom:1px solid #e1e1e1
}
.btn-green:active {
	background:#05a603
}
.btn-green-non {
	background:#64d364;
	color:#9de19d;
	border-color:#71c272
}
.title01 {
	padding:15px 0 30px
}
.title01 p {
	font-size:18px
}
.ticket2 {
	width:240px;
	padding-right:50px;
	height:156px;
	margin:auto;
	background-position:center;
	background-repeat:no-repeat;
	background-size:100%
}
.ticket2 i {
	font-style:normal;
	font-size:36px;
	top:-16px
}
.ticket2 em {
	font-style:normal;
	font-weight:400;
	font-size:60px
}
.footer01,.ticket2 p.p2 {
	font-size:16px
}
.ticket2 p:first-child {
	padding-top:20%
}
.ticket2 p {
	line-height:180%
}
.ticket2-voucher {
	background-image:url(../images/ticket2-voucher.png)
}
.ticket2-voucher em,.ticket2-voucher i {
	color:#fff
}
.ticket2-voucher p.p2 {
	color:#fac04f
}
.ticket2-universality {
	background-image:url(../images/ticket2-universality.png)
}
.ticket2-universality em,.ticket2-universality i,.ticket2-universality p.p2 {
	color:#fff
}
.footer01 {
	position:absolute;
	bottom:20px;
	left:0;
	right:0;
	color:#58649a;
	line-height:240%
}
.footer01 a {
	color:#576b95
}
.ticket {
	width:100%;
	margin:auto;
	height:110px;
	position:relative
}
.ticket-cont {
	background:url(../images/gray-ticket-m.png) repeat-x;
	background-size:100% 100%;
	height:100%;
	position:absolute;
	top:0;
	bottom:0;
	left:8px;
	right:0
}
.ticket-cont table {
	width:100%;
	height:110px
}
.ticket-em {
	width:20px;
	padding-right:2px
}
.ticket-h5 {
	width:35%
}
.ticket-cont em {
	font-size:12px;
	font-style:normal;
	position:relative;
	top:-6px
}
.ticket-cont h5 {
	font-size:30px;
	font-weight:400
}
.ticket-cont h6 {
	font-size:16px;
	font-weight:400
}
.ticket-cont p {
	font-size:12px;
	color:#999
}
.ticket-tag {
	width:12px;
	padding:0 5px;
	color:#fff;
	font-size:10px;
	line-height:120%
}
.ticket-bg-l {
	width:8px;
	height:100%;
	background:url(../images/gray-ticket-l.png) no-repeat;
	background-size:100% 100%
}
.ticket-bg-r {
	width:8px;
	height:100%;
	background:url(../images/gray-ticket-r.png) no-repeat;
	background-size:100% 100%
}
.ticket-voucher .ticket-cont em,.ticket-voucher .ticket-cont h5 {
	color:#fc4b4e
}
.ticket-voucher .ticket-tag {
	background:#f04e33
}
.ticket-universality .ticket-cont em,.ticket-universality .ticket-cont h5 {
	color:#e29500
}
.ticket-universality .ticket-tag {
	background:#ffd46c
}
.ticket-cur .ticket-cont {
	background:url(../images/red-ticket-m.png) repeat-x;
	background-size:100% 100%
}
.ticket-cur .ticket-bg-l {
	background:url(../images/red-ticket-l.png) no-repeat;
	background-size:100% 100%
}
.ticket-cur .ticket-bg-r {
	background:url(../images/red-ticket-r.png) no-repeat;
	background-size:100% 100%
}
.ul02 li {
	margin:0 15px 10px
}
.ul02 li:last-child {
	margin-bottom:26px
}
.overdue .ticket-cont em,.overdue .ticket-cont h5,.overdue .ticket-cont h6,.overdue .ticket-cont p {
	color:#c4c4c4
}
.overdue .ticket-tag {
	background:#c4c4c4
}
.hide {
	display:none
}
.arrow-c4,.qa {
	display:inline-block
}
.pop {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(0,0,0,.85)
}
.pop table {
	width:100%;
	height:100%
}
.pop dl {
	margin:auto auto 40px;
	width:82%
}
.pop dl .qa {
	margin-right:10px
}
.pop dt {
	color:#fff;
	font-size:21px
}
.pop dt span {
	position:relative;
	top:-4px
}
.pop dd {
	color:#fff;
	font-size:14px
}
.qa {
	width:26px;
	height:26px;
	background:url(../images/qa.png) no-repeat;
	background-size:100%
}
.qa-q {
	background-position:0 0
}
.qa-a {
	background-position:0 -26px
}
.div03,.payform,.table02 {
	background:#fff
}
.table01 {
	width:100%
}
.div03 {
	border-top:1px solid #e1e1e1;
	padding:12px 15px
}
.p3 {
	line-height:190%
}
.arrow-c4 {
	width:7px;
	height:7px;
	border-top:1px solid #c4c4c4;
	border-right:1px solid #c4c4c4;
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg)
}
.bonuses-btn,.bonuses-logo,.no-win {
	display:block;
	margin:auto
}
.bonuses {
	position:relative;
	width:84%;
	margin:auto
}
.bonuses-btn,.bonuses-close,.bonuses-logo,.bonuses-name,.bonuses-text1,.bonuses-text2 {
	left:0;
	position:absolute
}
.bonuses-bg {
	width:100%
}
.bonuses-close {
	width:50px;
	height:50px;
	top:0;
	z-index:2
}
.bonuses-logo {
	width:24%;
	right:0;
	top:21px;
	border-radius:500px
}
.bonuses-name {
	color:#fff;
	font-size:16px;
	right:0;
	top:24%
}
.bonuses-text1 {
	color:#fff;
	opacity:.5;
	font-size:14px;
	right:0;
	top:30%
}
.bonuses-text2 {
	color:#fff;
	font-size:17px;
	right:0;
	top:42%
}
.div02,.payform .payunit {
	text-align:right
}
.bonuses-btn {
	width:34%;
	right:0;
	top:58%
}
.no-win {
	width:40%;
	max-width:250px
}
.div02 {
	padding:8px 15px
}
.div02 img {
	width:15px;
	margin-right:5px
}
.table02 {
	padding-left:15px;
	border-top:1px solid #e1e1e1
}
.table02 table {
	width:100%
}
.table02 table tr td {
	padding:12px 15px 12px 0
}
.table02 table tr:last-child td {
	border-bottom:0
}
[placeholder]:focus::-webkit-input-placeholder {
	-webkit-transition:opacity 0s ease;
	-moz-transition:opacity 0s ease;
	transition:opacity 0s ease;
	opacity:0
}
[placeholder]:focus::-moz-input-placeholder {
	-webkit-transition:opacity 0s ease;
	-moz-transition:opacity 0s ease;
	transition:opacity 0s ease;
	opacity:0
}
.payform {
	padding:0 15px 12px;
	position:relative;
	border-bottom:1px solid #e1e1e1
}
.payform .paylayer,.payform .pf_input {
	font-size:36px;
	width:100%;
	background:rgba(255,255,255,0);
	box-sizing:border-box;
	height:54px;
	line-height:54px
}
.payform .pf_input {
	z-index:2;
	position:relative;
	padding:0 10px;
	border:1px solid #31b932;
	border-radius:5px;
	text-align:right
}
.payform .paylayer {
	position:absolute;
	color:#bebebe;
	z-index:1;
	top:0;
	left:0;
	padding:0 25px
}
.payform .payunit .amount {
	visibility:hidden
}
.payform .payunit .amount:empty:before {
	content:"|"
}
.payform .payholder {
	font-size:18px
}
@media only screen and (max-device-width:320px) {
	.ticket2 {
	width:178px;
	padding-right:34px;
	height:110px
}
.ticket2 p:first-child {
	padding-top:16%
}
.ticket2 i {
	font-size:25px;
	top:-10px
}
.ticket2 em {
	font-size:40px
}
.ticket2 p.p2 {
	font-size:12px
}
.bonuses-close {
	width:40px;
	height:40px
}
}@media only screen and (min-device-width:375px) {
	.btn-green,.btn-green-non {
	height:45px;
	line-height:45px;
	font-size:18px
}
}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance:none;
	margin:0
}