<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>商户中心</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link rel="stylesheet" href="__PUBLIC__/mui/css/mui.min.css">
    <link rel="stylesheet" href="__YUI__/css/ydui.css"/>
    <link rel="stylesheet" href="__PUBLIC__/statics/plugins/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/iconfont/iconfont.css"/>
    <link rel="stylesheet" href="__YUI__/css/my-app.css"/>
    <style type="text/css">
        .auth_png{ position: fixed;top:0;width: 400px}
        .auth_png p{text-align: right; }
        .btn-primary{
            background-color:#4282e3;
        }
        .btn-primary:active{
            background-color:#5593F1;
        }
    </style>

</head>
<body>
<section class="g-flexview" style="margin-bottom: 50px">
    <div class="g-scrollview" style="margin-top: 0px">
        <div>
            <img src="{:GetMchQrcode()}" style="width: 200px;height: 200px;border-radius: 5px;clear: both;display: block;margin: 100px auto 10px auto;border: 2px solid #ffffff">
            <div style="background: #DFE1E2;border-radius: 5px; padding: 5px;margin:20px;color: #696969;text-align: center">
                <p>您未关注官方公众号<br>请长按识别关注公众号后再来此操作</p>
            </div>
        </div>
        <aside class="demo-tip" style="margin-top: 20px">
            <p>关注说明:</p><br>
            <b>为什么关注公众号?</b><br>
            答: 为了方便接收到交易、提现结果等微信模板消息通知,方便后续使用相关功能!<br>
        </aside>
</section>
<footer class="m-tabbar tabbar-fixed">
    <a href="{:U('Index/index')}" class="tabbar-item ">
                <span class="tabbar-icon">
                    <i class="icon-home-outline"></i>
                </span>
        <span class="tabbar-txt">主页</span>
    </a>
    <a href="{:U('Index/order')}" class="tabbar-item ">
                <span class="tabbar-icon">
                    <i class="icon-order"></i>
                    <span class="tabbar-dot"></span>
                </span>
        <span class="tabbar-txt">流水</span>
    </a>
    <a href="{:U('Index/my')}" class="tabbar-item tabbar-active">
                <span class="tabbar-icon">
                    <i class="icon-ucenter-outline"></i>
                </span>
        <span class="tabbar-txt">我的</span>
    </a>
</footer>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="__YUI__/js/ydui.flexible.js"></script>
<script src="__YUI__/js/ydui.js"></script>
<script src="__PUBLIC__/mui/js/mui.min.js"></script>
</body>
</html>
