<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{:$title}-移动支付管理平台</title>
    <link href="/Ext?g=css" rel="stylesheet">
    <link  href="__PUBLIC__/statics/css/themes/type-b/theme-light.min.css" rel="stylesheet">
    <script type="text/javascript" src="__PUBLIC__/statics/plugins/pace/pace.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/statics/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/statics/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/statics/js/nifty.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/artDialog/jquery.artDialog.js?skin=default"></script>
    <script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/statics/plugins/bootbox/bootbox.min.js"></script>
    <script src="/Ext?g=default_js"></script>
</head>

<!--全局 CCL-->
<body>
<div id="container" >
    <div class="boxed">
