<include file="Public/header"/>
<div id="content-container">
    <div id="page-content">
        <div class="panel">
            <div class="panel-body">
                <div class="pad-btm form-inline">
                    <div class="row">
                        <div class="col-sm-6 text-xs-center">
                            <div class="form-group">
                                <button id="add_brand" class="btn btn-purple"><i class="demo-pli-plus"></i>添加品牌</button>
                            </div>
                        </div>
                        <div class="col-sm-6 text-xs-center text-right">
                        </div>
                    </div>
                </div>
                <table id="demo-foo-addrow" class="table table-bordered table-hover toggle-circle" data-page-size="7">
                    <thead>
                    <tr>
                        <th class="text-center">品牌LOGO</th>
                        <th class="text-center">所属公司</th>
                        <th class="text-center" data-sort-initial="true" data-toggle="true">品牌名称</th>
                        <th class="text-center">品牌主域名</th>
                        <th class="text-center">品牌授权码</th>
                        <th class="text-center">品牌模板主题</th>
                        <th class="text-center">加入时间</th>
                        <th class="text-center">品牌状态</th>
                        <th class="text-center">鉴权次数/已用次数</th>
                        <th class="text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name="data" item="v">
                        <tr>
                            <td class="text-center"><img src="{$v.brand_logo}" title="点击放大查看" width="30" height="30" onclick="$.fancybox.open('{$v.brand_logo}')" style="cursor:pointer"></td>
                            <td class="text-center">{$v['web_doname']}</td>
                            <td class="text-center">{$v['web_name']}</td>
                            <td class="text-center">{$v['web_domain']}</td>
                            <td class="text-center">{$v['web_authcode']}</td>
                            <td class="text-center">{$v['theme']}</td>
                            <td class="text-center">{$v['web_ctime'|date='Y-m-d H:i:s',###]}</td>
                            <td class="text-center">
                                <input id="status-switch-{$v['id']}" value="{$v['id']}"
                                       class="status_switch toggle-switch switchery-default"
                                <eq name="v.status" value="1">checked=""</eq>
                                type="checkbox" name="status">
                                <label id="status_switch" for="status-switch-{$v['id']}"></label>
                            </td>
                            <td class="text-center" style="cursor: pointer;" onclick="card_add({$v.id})"><span class="badge badge-warning">{$v.auth_card}/<php>echo auth_card_count($v['web_authcode'])</php></span></td>
                            <td class="text-center">
                                <button class="btn btn-info btn-rounded btn-xs" web_id="{$v['id']}"
                                        web_doname="{$v['web_doname']}" theme="{$v['theme']}"
                                        web_name="{$v['web_name']}" web_domain="{$v['web_domain']}"
                                        oss_bucket="{$v['oss_bucket']}" oss_domain="{$v['oss_domain']}"
                                        users_domain="{$v['users_domain']}" agent_domain="{$v['agent_domain']}"
                                        main_domain="{$v['main_domain']}" brand_ico="{$v['brand_ico']}" brand_logo="{$v['brand_logo']}"
                                        onclick="edit_brand(this)">编辑
                                </button>
                                <button class="btn btn-info btn-success btn-xs" onclick="Users('{$v['web_authcode']}')">
                                    平台管理员
                                </button>
                                <a href="{:U('api',array('id'=>$v['id']))}" class="btn btn-info btn-pink btn-xs api">接口配置</a>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="12">
                            <div class="text-right">
                                <ul class="pagination">{$page}</ul>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- 添加模态框开始 -->
<div class="modal fade" id="add_brand_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="pci-cross pci-circle"></i>
                </button>
                <h4 class="modal-title" >
                    添加品牌
                </h4>
            </div>
            <div class="modal-body">
                <form class="form" action="{:U('System/Extend/add_brand')}" method="post">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">品牌名称</label>
                                    <input class="form-control" type="text" name="web_name" placeholder="如:讯码付" required>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">品牌域名</label>
                                    <input class="form-control" type="text" name="web_domain" placeholder="主域名 如 xunmafu.com" required>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">品牌模板主题</label>
                                    <input class="form-control" type="text" name="theme" placeholder="用于多模板 如 xunmafu " required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">品牌公司</label>
                                    <input class="form-control" type="text" name="web_doname" placeholder="公司全称" required>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">OSS Bucket</label>
                                    <input class="form-control" type="text" name="oss_bucket" placeholder="品牌英文全称 如xunmafu" required>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">OSS 域名</label>
                                    <input class="form-control" type="text" name="oss_domain" placeholder="用于图片解析 如:img.xunmafu.com" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">网站主域名</label>
                                    <input class="form-control" type="text" name="main_domain" placeholder="商用 如www.xunmafu.com" required>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">代理端域名</label>
                                    <input class="form-control" type="text" name="agent_domain" placeholder="商用 如a.xunmafu.com" required>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">商户端域名</label>
                                    <input class="form-control" type="text" name="users_domain" placeholder="商用 如u.xunmafu.com" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">品牌LOGO(130*130)</label>
                                    {:uploads_map('brand_logo','',1)}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">备注描述</label>
                                    <label class="control-label">品牌Icon图标(格式:.ico)</label>
                                    {:uploads_map('brand_ico','',1)}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="panel-footer text-right">
                        <button class="btn btn-success" type="submit">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 模态框开始 -->
<div class="modal fade" id="auth-card-add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="pci-cross pci-circle"></i>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    鉴权系统次数新增
                </h4>
            </div>
            <div class="modal-body">
                <form action="{:U('auth_card_adds',array('Debug'=>1))}" method="post">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">新增次数</label>
                                    <input class="form-control" type="tel" name="auth_card_count" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="5" required>
                                </div>
                                <input type="hidden" id="auth_card_id" name="auth_card_id" value="">
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer text-right">
                        <button class="btn btn-success" type="submit">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 模态框关闭 -->


<!-- 编辑模态框开始 -->
<div class="modal fade" id="edit_brand_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="pci-cross pci-circle"></i>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    编辑品牌
                </h4>
            </div>
            <div class="modal-body">
                <form class="edit_form" action="{:U('System/Extend/edit_brand')}" method="post">
                    <input type="hidden" name="id" value="">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">品牌名称</label>
                                    <input class="form-control" type="text" name="web_name" required>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">品牌域名</label>
                                    <input class="form-control" type="text" name="web_domain" required>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">品牌模板主题</label>
                                    <input class="form-control" type="text" name="theme" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">品牌公司</label>
                                    <input class="form-control" type="text" name="web_doname" required>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">OSS Bucket</label>
                                    <input class="form-control" type="text" name="oss_bucket" placeholder="品牌英文全称 如xunmafu" required>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">OSS 域名</label>
                                    <input class="form-control" type="text" name="oss_domain" placeholder="用于图片解析 如:img.xunmafu.com" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">网站主域名</label>
                                    <input class="form-control" type="text" name="main_domain" placeholder="商用 如www.xunmafu.com" required>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">代理端域名</label>
                                    <input class="form-control" type="text" name="agent_domain" placeholder="商用 如a.xunmafu.com" required>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">商户端域名</label>
                                    <input class="form-control" type="text" name="users_domain" placeholder="商用 如u.xunmafu.com" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">品牌LOGO(130*130)</label>
                                    {:uploads_map('ebrand_logo','',1)}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">备注描述</label>
                                    <label class="control-label">品牌Icon图标(格式:.ico)</label>
                                    {:uploads_map('ebrand_ico','',1)}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="panel-footer text-right">
                        <button class="btn btn-success" type="submit">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- 默认管理员 -->
<div class="modal fade" id="brand_users_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="pci-cross pci-circle"></i>
                </button>
                <h4 class="modal-title">
                    默认管理员账户
                </h4>
            </div>
            <div class="modal-body">
                <form class="users_form" action="{:U('System/Extend/brand_users')}" method="post">

                    <div class="panel-body">
                        <div class="alert alert-danger">
                            <strong>提示</strong> <span id="users_msg"></span>
                        </div>
                        <input type="hidden" name="codes" value="">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">账户名称</label>
                                    <input class="form-control" type="text" name="username" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">账户密码</label>
                                    <input class="form-control" type="password" name="password" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">账户姓名</label>
                                    <input class="form-control" type="text" name="name" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">账户状态</label>
                                    <select id="u_status" tabindex="2" class="form-control" name="status">
                                        <option value="1">开启</option>
                                        <option value="0">禁用</option>
                                    </select>
                                </div>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">联系电话</label>
                                    <input class="form-control" type="text" name="phone" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">联系邮箱</label>
                                    <input class="form-control" type="email" name="email" required>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="panel-footer text-right">
                        <button class="btn btn-info text-left edits" type="button" onclick="edit_users()">编辑</button>
                        <button class="btn btn-success " type="submit">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    $('#api_data,#api_data_e').chosen({width: '100%'});

    $('#add_brand').click(function () {
        $('#add_brand_modal').modal('show');
    });
    function  card_add(id) {
        $('[name="auth_card_count"]').val('');
        $('#auth_card_id').val(id);
        $('#auth-card-add').modal('show');
    }



    /*接口状态更新*/
    $(".status_switch").change(function () {
        var status = $("#" + this.id).is(':checked');
        var ajax_data = {id: this.value, status: status, type: 'status'};
        var actionurl = "{:U('brand_status')}";
        $.post(actionurl, ajax_data, function (data) {
            if (data.status == 1) {
                $.niftyNoty({
                    type: 'success',
                    message: '<strong>' + data.info + '</strong> 2秒后自动刷新当前页面!',
                    container: 'floating',
                    timer: 2000
                });
                setTimeout(function () {
                    window.location.reload();
                }, 2000);
            }
            else {

                $.niftyNoty({
                    type: 'danger',
                    message: '<strong>' + data.info + '</strong>',
                    container: 'floating',
                    timer: 5000
                });
            }
        }, 'json');

    });

    //编辑信息
    function edit_brand(data) {

        var web_name = $(data).attr('web_name');
        var web_domain = $(data).attr('web_domain');
        var web_doname = $(data).attr('web_doname');
        var id = $(data).attr('web_id');
        var theme = $(data).attr('theme');
        var oss_bucket = $(data).attr('oss_bucket');
        var oss_domain = $(data).attr('oss_domain');
        var main_domain = $(data).attr('main_domain');
        var agent_domain = $(data).attr('agent_domain');
        var users_domain = $(data).attr('users_domain');
        var brand_logo = $(data).attr('brand_logo');
        var brand_ico = $(data).attr('brand_ico');

        $(".edit_form  [name='theme']").val(theme);
        $(".edit_form  [name='web_doname']").val(web_doname);
        $(".edit_form  [name='web_domain']").val(web_domain);
        $(".edit_form  [name='web_name']").val(web_name);
        $(".edit_form  [name='id']").val(id);
        $(".edit_form  [name='oss_bucket']").val(oss_bucket);
        $(".edit_form  [name='oss_domain']").val(oss_domain);
        $(".edit_form  [name='main_domain']").val(main_domain);
        $(".edit_form  [name='agent_domain']").val(agent_domain);
        $(".edit_form  [name='users_domain']").val(users_domain);

        $(".edit_form  [name='ebrand_logo']").val(brand_logo);
        $(".edit_form  [name='ebrand_ico']").val(brand_ico);


        $('#edit_brand_modal').modal('show');
    }

    //管理员账户配置
    function Users(codes) {
        var ajax_data = {codes: codes, type: 'status'};
        var actionurl = "{:U('brand_users')}";
        $.post(actionurl, ajax_data, function (data) {
            if (data.status == 1) {
                if (data.info.is_data == 1) {
                    //有
                    $('#users_msg').html('如需修改管理员信息,请点击编辑后再修改提交!密码留空即为不修改密码');
                    $(".users_form  [name='username']").val(data.info.username);
                    $(".users_form  [name='name']").val(data.info.name);
                    $(".users_form  [name='email']").val(data.info.email);
                    $(".users_form  [name='phone']").val(data.info.phone);
                    if (data.info.status == 1) {
                        $("#u_status").find("option[value='1']").attr("selected", true);
                    } else {
                        $("#u_status").find("option[value='0']").attr("selected", true);
                    }
                    $('.users_form input').attr('disabled', 'true');
                    $('.users_form select').attr('disabled', 'true');
                    $('.edits').show();

                } else {
                    $(".users_form  [name='username']").val('');
                    $(".users_form  [name='name']").val('');
                    $(".users_form  [name='email']").val('');
                    $(".users_form  [name='phone']").val('');
                    $(".users_form  [name='password']").val('');
                    $(".users_form  [name='password']").attr('required', 'true');

                    $('#users_msg').html('系统暂未监测到当前品牌商家无管理员信息,请首次配置!');
                    $('.users_form input').removeAttr('disabled');
                    $('.users_form select').removeAttr('disabled');
                    $('.edits').hide();
                }
                $(".users_form  [name='codes']").val(data.info.codes);
                $('#brand_users_modal').modal('show');
            }
            else {

                $.niftyNoty({
                    type: 'danger',
                    message: '<strong>' + data.info + '</strong>',
                    container: 'floating',
                    timer: 5000
                });
            }
        }, 'json');

    }

    //编辑账户
    function edit_users() {
        $('.users_form input').removeAttr('disabled');
        $('.users_form select').removeAttr('disabled');
        $(".users_form  [name='password']").removeAttr('required');
    }




</script>

<include file="Public/footer"/>