<include file="Public/sheader"/>
<div id="content-container" style="padding-top: 0px!important;padding-bottom: 0px!important;">
    <div id="page-content">

        <div class="panel">
            <form method="post" action="{:U('A_rata_save')}">
                <div class="panel-body">
                    <div class="alert alert-purple">
                        <strong>温馨提醒:</strong> 终端费率不能小于成本费率  否则代理分润将会计算错误!  成本费率不能小于本身成本费率  否则分润也会计算错误. 费率计算按照千比计算 如3%。 输入框内无需输入%。
                    </div>
                    <empty name="pid">
                        <volist name="api"  id="v"  >
                            <p style="border-bottom: solid 1px #E4E4E4;font-size: 16px;padding-bottom: 5px;">通道:{$v.alleys}<span class="pull-right badge badge-mint">通道最低成本费率:{$v.rate}</span></p>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">成本费率</label>
                                        <input class="form-control" type="text" name="{$v.alleys_type}_cost" placeholder="费率千分比  如 3.8 " value="<php>$type=$v['alleys_type'].'_cost'; echo $rate[$type];</php>" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">终端费率</label>
                                        <select data-placeholder="请选择..." tabindex="2"   class="form-control"  name="{$v.alleys_type}_term" required="required">
                                            <volist name=":rate_data($v['alleys_type'])" id="vs">
                                                <option value="{$vs.rate}" <php>$type=$v['alleys_type'].'_term'; if($rate[$type]==$vs['rate']){ echo selected; } ;</php> >{$vs.name}</option>
                                            </volist>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </volist>

                        <else/>

                        <volist name="api"  id="v">
                            <p style="border-bottom: solid 1px #E4E4E4;font-size: 16px;padding-bottom: 5px;">通道:{$v.alleys}<span class="pull-right badge badge-mint">通道最低成本费率:<php>echo rate_data_pid($pid,$v['alleys_type'],1);</php></span></p>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">成本费率</label>
                                        <input class="form-control" type="text" name="{$v.alleys_type}_cost" placeholder="费率千分比  如 3.8 " value="<php>$type=$v['alleys_type'].'_cost'; echo $rate[$type];</php>" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">终端费率</label>
                                        <select data-placeholder="请选择..." tabindex="2"   class="form-control"  name="{$v.alleys_type}_term" required="required">
                                            <volist name=":rate_data_pid($pid,$v['alleys_type'])" id="vs">
                                                <option value="{$vs.rate}" <php>$type=$v['alleys_type'].'_term'; if($rate[$type]==$vs['rate']){ echo selected; } ;</php> >{$vs.name}</option>
                                            </volist>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </volist>

                    </empty>

                </div>
                <div class="panel-footer text-justify">
                    <input type="hidden" name="aid" value="{$_GET['id']}">
                    <button type="submit" class="btn btn-danger" >提交</button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .chosen-container-single .chosen-single{
        height: 35px!important;
    }
    .btn{border-radius: 5px !important;}
    select {
        border: solid 1px #e1e5ea;
        appearance:none;
        -moz-appearance:none;
        -webkit-appearance:none;
        background: url("/Source/plug/arrow.jpg") no-repeat scroll right center transparent !important;
        padding-right: 14px;
    }
    select::-ms-expand { display: none; }
</style>
<script type="text/javascript">

    var index = parent.layer.getFrameIndex(window.name);
    $('select').chosen();
    $(function() {
        $('.OpenUrl').click(function(){
            var frameSrc = $(this).attr("href");
            $('#IfRaMeModal').on('show.bs.modal',function() {
                $('iframe').attr("src",frameSrc);
            });
            $('#IfRaMeModal').modal({show:true});
            return false;
        });

        $("form").submit(function (e) {
            var not=$(this).attr("ajax");
            if(not != 'n'){
                e.preventDefault(); //阻止自动提交表单
            }


            <volist name="api"  id="dv">
            //多通道自动生成判断  当前通道: {$dv.alleys}

            var {$dv.alleys_type}_cost= $('[name="{$dv.alleys_type}_cost"]').val();
            var {$dv.alleys_type}_term= $('[name="{$dv.alleys_type}_term"]').val();
            //终端费率不能小于成本费率
            if({$dv.alleys_type}_term < {$dv.alleys_type}_cost){
                alert('通道:{$dv.alleys} 的终端费率不能小于成本费率');
                return false;
            }

            //成本费率不能小于自己本身的费率
            <empty name="pid">
            if({$dv.alleys_type}_cost < {$dv.rate}){
                alert('通道:{$dv.alleys} 的成本费率不能小于最低成本费率哦  最低费率:{$dv.rate} 您输入的费率:'+{$dv.alleys_type}_cost);
                return false;
            }
            <else/>

            if({$dv.alleys_type}_cost < <php>echo rate_data_pid($pid,$dv['alleys_type'],1);</php> ){
                alert('通道:{$dv.alleys} 的成本费率不能小于最低成本费率哦  最低费率:<php>echo rate_data_pid($pid,$dv['alleys_type'],1);</php>  您输入的费率:'+{$dv.alleys_type}_cost);
                return false;
            }
            </empty>
            </volist>

            var ajax_data = $(this).serialize();
            var actionurl = $(this).attr("action");
            $.post(actionurl, ajax_data, function(data){
                if(data.status == 1){
                    parent.layer.close(index);
                    parent.layer.msg(data.info, {shade: 0.3});
                }
                else{
                    parent.layer.msg(data.info, {shade: 0.3});
                }
            }, 'json');

        });
    });

</script>
</body>
</html>
