<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>关于我们-讯码付-专注于扫码移动支付商户收款及技术服务支持提供商</title>
  <meta name="keywords" content="讯码付,聚合支付,批量创建收款码,微信支付,支付宝ISV开发,京东钱包,移动支付,无卡支付,微信服务商,支付宝服务商ISV,移动支付技术服务商"/>
  <meta name="description" content="讯码付专注于小微商户收款及技术服务支持提供,OEM品牌移动支付营销于一体行业解决方案!批量生成商户收款码,一码支持微信、支付宝、QQ钱包、百度钱包、京东钱包等支付、银行通道接入商户结算银行直清!"/>
  <link rel="stylesheet" href="__PUBLIC__/default/one/css/style.1.0.1.css">
</head>
<body>

<div class="view-box">
  <!-- 首页 banner -->
  <div class="banner-box about">
    <div class="teb-box">
      <div class="content-box">
        <div class="logo"></div>
        <div class="content-list">
          <a href="/about.html" class="content-li">关于我们</a>
          <!--<a href="join.html" class="content-li">加入我们</a>-->
          <a href="/channel.html" class="content-li">渠道招募</a>
          <a href="/pay.html" class="content-li">移动支付</a>
          <a href="/index.html" class="content-li">首页</a>
        </div>
      </div>
    </div>
    <div class="banner">
      <div class="banner-content about-detail">
        <div class="about-logo"></div>
        <div class="about-text">专业的支付+OEM+营销解决方案提供商</div>
      </div>
    </div>
  </div>
  <!-- 公司简介 -->
  <div class="company-profile-box">
    <div class="company-profile">
      <div class="company-profile-title">公司简介</div>
      <div class="company-profile-content">
        <p>讯码付成立于2015年1月，是郑州讯龙软件科技有限公司旗下品牌，<br>
          伴随着互联网移动支付大潮成立，立足帮助中小微企业快速建立互联网金融的服务能力。</p>
        <p>最初我们通过模式创新、强大的技术能力和对支付的深度经验，以聚合支付与为主要产品，<br>
          帮助上千家企业快速介入支付服务，为上万家中小微企业提供专业的收银服务。</p>
        <p>16年，我们继续创新，产品包括聚合支付、移动支付、信用卡在线申请，<br>
          同时通过数据服务帮助企业对接银行等金融机构贷款。</p>
        <p>而现在我们以扫码为基础，支付为工具入口，帮助企业建立与用户的链接，<br>
          让企业通过数据更好的了解客户、管理客户、分析客户、营销客户，<br>
          提供会员管理、红包、优惠券等营销功能，同时为用户提供消费分期的服务，<br>
          已有上万家企业使用我们的服务。</p>
        <p>我们的创始团队主要来自大型第三方支付公司、一线互联网公司、银行等。<br>
          我们的每一位小伙伴都才华横溢，怀揣梦想不愿满足现状，我们将不断创新，<br>
          为更多的企业提供优质的服务。</p>
      </div>
    </div>
  </div>
  <!-- 联系我们 -->
  <a class="contact-us-box" name="cooperation">
    <div class="contact-us">
      <div class="contact-us-title">联系我们</div>
      <div class="contact-us-content">
        <p>客服专线：0371-55215700</p>
        
        
        <p>市场合作：mch@xunmafu.com</p>
      </div>
    </div>
  </a>
  <div class="foot-box">
    <div class="foot">
      <div class="foot-link" style="text-align:center">
        <a href="/index.html">首&nbsp;&nbsp;页</a>
        <a href="/about.html">关于我们</a>
        <a href="/channel.html">商务合作</a>
        <a href="/pay.html">移动支付</a>
      </div>
    </div>
  </div>
  <div class="right-box">
    <div class="right">
      <div class="right-text">郑州讯龙软件科技有限公司 Copyright 2017 豫ICP备15026655号-3</div>
      <div class="right-img">
        <div class="right-icon _01"></div>
        <div class="right-icon _02"></div>
        <div class="right-icon _03"></div>
      </div>
    </div>
  </div>
</div>

<!--客服-->
<link href="__PUBLIC__/default/kf.1.0.1/style.css" rel="stylesheet" type="text/css" />
<div class="cndns-right">
  <div class="cndns-right-meau meau-sev">
    <a href="javascript:" class="cndns-right-btn">
      <span class="demo-icon">&#xe901;</span>
      <p>
        在线<br />
        客服
      </p>
    </a>
    <div class="cndns-right-box">
      <div class="box-border">
        <div class="sev-t">
          <span class="demo-icon">&#xe901;</span>
          <p>在线客服<i>服务时间：9:00-24:00</i></p>
          <div class="clear"></div>
        </div>
        <div class="sev-b">
          <h4>选择客服在线沟通：</h4>
          <ul id="zixunUl">
            <li><a href="http://wpa.qq.com/msgrd?v=3&uin=956251234&site=qq&menu=yes">客服-小李</a></li>
            <li><a href="http://wpa.qq.com/msgrd?v=3&uin=549605514&site=qq&menu=yes">客服-小董</a></li>
            <li><a href="http://wpa.qq.com/msgrd?v=3&uin=956251234&site=qq&menu=yes">客服-小讯</a></li>
            <div class="clear"></div>
          </ul>
        </div>
        <span class="arrow-right"></span>
      </div>
    </div>
  </div>
  <div class="cndns-right-meau meau-contact">
    <a href="javascript:" class="cndns-right-btn">
      <span class="demo-icon">&#xe902;</span>
      <p>
        客服<br />
        热线
      </p>
    </a>
    <div class="cndns-right-box">
      <div class="box-border">
        <div class="sev-t">
          <span class="demo-icon">&#xe902;</span>
          <p>0371-25636002<br /><i>7*24小时客服服务热线</i></p>
          <div class="clear"></div>
        </div>
        <span class="arrow-right"></span>
      </div>
    </div>
  </div>
  <div class="cndns-right-meau meau-code">
    <a href="javascript:" class="cndns-right-btn">
      <span class="demo-icon">&#xe903;</span>
      <p>
        关注<br />
        微信
      </p>
    </a>
    <div class="cndns-right-box">
      <div class="box-border">
        <div class="sev-t">
          <img src="__PUBLIC__/default/kf.1.0.1/images/02index-2.jpg" />
          <i>关注官方微信</i>
        </div>
        <span class="arrow-right"></span>
      </div>
    </div>
  </div>
</div>

<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?9717951d9fc0f335f53567ff8d4e7240";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
</body>
</html>