<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>移动支付-讯码付-专注于扫码移动支付商户收款及技术服务支持提供商</title>
  <meta name="keywords" content="讯码付,聚合支付,批量创建收款码,微信支付,支付宝ISV开发,京东钱包,移动支付,无卡支付,微信服务商,支付宝服务商ISV,移动支付技术服务商"/>
  <meta name="description" content="讯码付专注于小微商户收款及技术服务支持提供,OEM品牌移动支付营销于一体行业解决方案!批量生成商户收款码,一码支持微信、支付宝、QQ钱包、百度钱包、京东钱包等支付、银行通道接入商户结算银行直清!"/>

  <link rel="stylesheet" href="__PUBLIC__/default/one/css/style.1.0.1.css">
</head>
<body>

<div class="view-box">
  <!-- 首页 banner -->
  <div class="banner-box code-pay">
    <div class="teb-box">
      <div class="content-box">
        <div class="logo"></div>
        <div class="content-list">
          <a href="/about.html" class="content-li">关于我们</a>
          <a href="/channel.html" class="content-li">渠道招募</a>
          <a href="/pay.html" class="content-li">移动支付</a>
          <a href="/index.html" class="content-li">首页</a>
        </div>
      </div>
    </div>
    <div class="banner">
      <div class="mask"></div>
      <div class="banner-content code-pay-detail">
        <div class="code-pay-title">移动支付</div>
        <div class="code-pay-small">扫一扫，轻松收款，轻松管理店铺</div>
        <div class="code-pay-btn">
          <a href="pay.html#partner" class="green">合作申请</a>
          <div class="line" id="download">扫码体验</div>
        </div>
      </div>
    </div>
  </div>
  <!-- 扫码收款 功能 -->
  <div class="collection-box">
    <div class="collection">
      <div class="collection-top">
        <div class="collection-top-left">
          <div class="collection-top-title"></div>
          <div class="collection-top-text">讯码付公众号，关注后为中小微商家提供各种经营数据支持，<br>
            可用来收款、对账、查询交易、会员管理、经营分析、<br>
            营销管理等功能，将商户与会员链接。
          </div>
        </div>
        <div class="collection-top-right">
          <div class="collection-brand">
            <div class="collection-brand-img">
              <img src="__PUBLIC__/default/one/imgs/collection-brand-img.png" alt="">
            </div>
            <div class="collection-brand-text">台牌</div>
          </div>
          <div class="collection-phone">
            <div class="collection-phone-img">
              <img src="__PUBLIC__/default/one/imgs/collection-phone-img.png" alt="">
            </div>
            <div class="collection-phone-text">讯码付</div>
          </div>
        </div>
      </div>
      <div class="collection-bottom">
        <div class="collection-bottom-left"></div>
        <div class="collection-bottom-right">一站接入主流支付渠道<br>
          支持信用卡、借记卡、大额支付等
        </div>
      </div>
    </div>
  </div>
    <!-- 功能强大 轻松上手 -->
  <div class="management-box">
    <div class="management">
      <div class="management-title">数据助精准营销管理</div>
      <div class="management-content">
        <div class="management-list">
          <div class="management-img _01"></div>
          <div class="management-text">会员分析/评价</div>
        </div>
        <div class="management-list">
          <div class="management-img _02"></div>
          <div class="management-text">客单价管理</div>
        </div>
        <div class="management-list">
          <div class="management-img _03"></div>
          <div class="management-text">流失率分析</div>
        </div>
        <div class="management-list">
          <div class="management-img _04"></div>
          <div class="management-text">回头客分析</div>
        </div>
        <div class="management-list">
          <div class="management-img _05"></div>
          <div class="management-text">客户拯救</div>
        </div>
        <div class="management-list">
          <div class="management-img _06"></div>
          <div class="management-text">维老拉新</div>
        </div>
      </div>
    </div>
  </div>
  <!-- 营销功能 增客 -->
  <div class="marketing-box">
    <div class="marketing">
      <div class="marketing-title"></div>
      <div class="marketing-content">
        <div class="marketing-list">
          <div class="marketing-img _01"></div>
          <div class="marketing-tt">VIP会员</div>
          <div class="marketing-small">支付即会员</div>
        </div>
        <div class="marketing-list">
          <div class="marketing-img _02"></div>
          <div class="marketing-tt">积分</div>
          <div class="marketing-small">积分换好礼</div>
        </div>
        <div class="marketing-list">
          <div class="marketing-img _03"></div>
          <div class="marketing-tt">减免</div>
          <div class="marketing-small">满减促营收</div>
        </div>
        <div class="marketing-list">
          <div class="marketing-img _04"></div>
          <div class="marketing-tt">优惠券</div>
          <div class="marketing-small">异业联盟</div>
        </div>
        <div class="marketing-list">
          <div class="marketing-img _05"></div>
          <div class="marketing-tt">充值优惠</div>
          <div class="marketing-small">有效锁定老客户</div>
        </div>
        <div class="marketing-list">
          <div class="marketing-img _06"></div>
          <div class="marketing-tt">红包</div>
          <div class="marketing-small">促进店内消费</div>
        </div>
      </div>
    </div>
  </div>
  <!-- 金融增值服务 -->
  <div class="financial-box">
    <div class="financial">
      <div class="financial-title"></div>
      <div class="financial-content">
        <div class="financial-ul">
          <div id="financial_01" class="financial-list one active">一码付技术</div>
          <div id="financial_02" class="financial-list one">一清一键开户</div>
          <div id="financial_03" class="financial-list two"><p>银行</p><p>战略合作</p></div>
		  <div id="financial_04" class="financial-list two">T1/T0<br>结算</div>
          <div class="clear"></div>
        </div>
        <div class="financial-info">
          <div class="financial-oo">
            <div class="_01"></div>
            <div class="_02"></div>
            <div class="_03"></div>
          </div>
          <div id="financial_detail_01" class="financial-info-detail active">
            <div class="financial-h1">一码付技术</div>
            <div class="financial-small">实现同一个账户同时支持，<br>
              微信、支付宝、QQ钱包支付。
            </div>
          </div>
          <div id="financial_detail_02" class="financial-info-detail">
            <div class="financial-h1">一清一键开户</div>
            <div class="financial-small">摆脱传统的申请开通流程，<br>
              30秒极速开动移动支付。
            </div>
          </div>
          <div id="financial_detail_03" class="financial-info-detail">
            <div class="financial-h1">四大银行战略合作</div>
            <div class="financial-small">四大银行战略合作<br>
              银联超级网银清分、代付，资金安全，到账及时。
            </div>
          </div>
          <div id="financial_detail_04" class="financial-info-detail">
            <div class="financial-h1">T1/T0两种到账</div>
            <div class="financial-small">T1和T0两种到账方式<br>
              商户在讯码付微信公众号登陆后可以自由切换。
            </div>
          </div>		   
        </div>
      </div>
    </div>
  </div>
  <!-- 数据精准营销管理 -->
 
  <!-- 适合线下门店商家日常使用 -->
  <div class="advantage-pay-box">
    <div class="advantage">
      <div class="advantage-pay-title"></div>
     <p style="text-align:center;">
	<img src="__PUBLIC__/default/one//imgs/women.jpg" alt="" />
</p>
      </div>
    </div>
  </div>
  <!-- 服务优势 -->

  <!-- 合作申请 -->
  
  <div class="foot-box">
    <div class="foot">
     <div class="foot-link" style="text-align:center">
        <a href="/index.html">首&nbsp;&nbsp;页</a>
        <a href="/about.html">关于我们</a>
        <a href="/channel.html">商务合作</a>
        <a href="/pay.html">移动支付</a>
      </div>
    </div>
  </div>
  <div class="right-box">
    <div class="right">
      <div class="right-text">郑州讯龙软件科技有限公司 Copyright 2017 豫ICP备15026655号-3</div>
      <div class="right-img">
        <div class="right-icon _01"></div>
        <div class="right-icon _02"></div>
        <div class="right-icon _03"></div>
      </div>
    </div>
  </div>

  <div class="layer-space" id="wrong">
    <div class="layer-box">
      <div class="layer-body">
        <div class="layer-icon wrong"></div>
        <div class="layer-text">服务器开小差啦</div>
        <div class="layer-small">请稍后再试</div>
      </div>
      <div class="layer-footer">
        <div class="layer-enter" id="wrongEnter">确定</div>
      </div>
    </div>
  </div>

  <div class="layer-space" id="right">
    <div class="layer-box">
      <div class="layer-body">
        <div class="layer-icon right"></div>
        <div class="layer-text">信息提交成功</div>
        <div class="layer-small">我们会尽快与您联系</div>
      </div>
      <div class="layer-footer">
        <div class="layer-enter" id="rightEnter">确定</div>
      </div>
    </div>
  </div>

  <div class="layer-space" id="reg">
    <div class="layer-box">
      <div class="layer-body">
        <div class="layer-icon right"></div>
        <div class="layer-text" id="regText"></div>
        <div class="layer-small"></div>
      </div>
      <div class="layer-footer">
        <div class="layer-enter" id="regEnter">确定</div>
      </div>
    </div>
  </div>

  <div class="layer-space" id="layer-download">
    <div class="layer-box w">
      <div class="layer-body">
        <div class="layer-text">扫描二维码关注我们</div>
        <img class="layer-img" src="__PUBLIC__/default/one/imgs/download.png" alt="">
        <div class="layer-small"></div>
      </div>
      <div class="layer-footer">
        <div class="layer-enter" id="download-enter">确定</div>
      </div>
    </div>
  </div>
</div>

<script>
  var download = document.getElementById('download');
  var layer_download = document.getElementById('layer-download');
  var download_enter = document.getElementById('download-enter');
  download.addEventListener('click', function () {
    layer_download.style.display = 'block';
  });
  download_enter.addEventListener('click', function () {
    layer_download.style.display = 'none';
  });
</script>
<script>
  var financial_01 = document.getElementById('financial_01');
  var financial_02 = document.getElementById('financial_02');
  var financial_03 = document.getElementById('financial_03');
  var financial_04 = document.getElementById('financial_04');
  var financial_detail_01 = document.getElementById('financial_detail_01');
  var financial_detail_02 = document.getElementById('financial_detail_02');
  var financial_detail_03 = document.getElementById('financial_detail_03');
  var financial_detail_04 = document.getElementById('financial_detail_04');
  financial_01.addEventListener('mouseenter', function () {
    if (financial_01.className.indexOf('active') == -1) {
      financial_01.className = 'financial-list one hover';
    }
  });
  financial_02.addEventListener('mouseenter', function () {
    if (financial_02.className.indexOf('active') == -1) {
      financial_02.className = 'financial-list one hover';
    }
  });
  financial_03.addEventListener('mouseenter', function () {
    if (financial_03.className.indexOf('active') == -1) {
      financial_03.className = 'financial-list two hover';
    }
  });
  financial_04.addEventListener('mouseenter', function () {
    if (financial_04.className.indexOf('active') == -1) {
      financial_04.className = 'financial-list two hover';
    }
  });
  financial_01.addEventListener('mouseleave', function () {
    if (financial_01.className.indexOf('active') == -1) {
      financial_01.className = 'financial-list one';
    }
  });
  financial_02.addEventListener('mouseleave', function () {
    if (financial_02.className.indexOf('active') == -1) {
      financial_02.className = 'financial-list one';
    }
  });
  financial_03.addEventListener('mouseleave', function () {
    if (financial_03.className.indexOf('active') == -1) {
      financial_03.className = 'financial-list two';
    }
  });
  financial_04.addEventListener('mouseleave', function () {
    if (financial_04.className.indexOf('active') == -1) {
      financial_04.className = 'financial-list two';
    }
  });
  financial_01.addEventListener('click', function () {
    financial_01.className = 'financial-list one active';
    financial_02.className = 'financial-list one';
    financial_03.className = 'financial-list two';
    financial_04.className = 'financial-list two';
    financial_detail_01.className = 'financial-info-detail active';
    financial_detail_02.className = 'financial-info-detail';
    financial_detail_03.className = 'financial-info-detail';
    financial_detail_04.className = 'financial-info-detail';
  });
  financial_02.addEventListener('click', function () {
    financial_02.className = 'financial-list one active';
    financial_01.className = 'financial-list one';
    financial_03.className = 'financial-list two';
    financial_04.className = 'financial-list two';
    financial_detail_01.className = 'financial-info-detail';
    financial_detail_02.className = 'financial-info-detail active';
    financial_detail_03.className = 'financial-info-detail';
    financial_detail_04.className = 'financial-info-detail';
  });
  financial_03.addEventListener('click', function () {
    financial_03.className = 'financial-list two active';
    financial_01.className = 'financial-list one';
    financial_02.className = 'financial-list one';
    financial_04.className = 'financial-list two';
    financial_detail_01.className = 'financial-info-detail';
    financial_detail_02.className = 'financial-info-detail';
    financial_detail_03.className = 'financial-info-detail active';
    financial_detail_04.className = 'financial-info-detail';
  });
  financial_04.addEventListener('click', function () {
    financial_04.className = 'financial-list two active';
    financial_01.className = 'financial-list one';
    financial_02.className = 'financial-list one';
    financial_03.className = 'financial-list two';
    financial_detail_01.className = 'financial-info-detail';
    financial_detail_02.className = 'financial-info-detail';
    financial_detail_03.className = 'financial-info-detail';
    financial_detail_04.className = 'financial-info-detail active';
  });
</script>

<!--客服-->
<link href="__PUBLIC__/default/kf.1.0.1/style.css" rel="stylesheet" type="text/css" />
<div class="cndns-right">
  <div class="cndns-right-meau meau-sev">
    <a href="javascript:" class="cndns-right-btn">
      <span class="demo-icon">&#xe901;</span>
      <p>
        在线<br />
        客服
      </p>
    </a>
    <div class="cndns-right-box">
      <div class="box-border">
        <div class="sev-t">
          <span class="demo-icon">&#xe901;</span>
          <p>在线客服<i>服务时间：9:00-24:00</i></p>
          <div class="clear"></div>
        </div>
        <div class="sev-b">
          <h4>选择客服在线沟通：</h4>
          <ul id="zixunUl">
            <li><a href="http://wpa.qq.com/msgrd?v=3&uin=956251234&site=qq&menu=yes">客服-小李</a></li>
            <li><a href="http://wpa.qq.com/msgrd?v=3&uin=549605514&site=qq&menu=yes">客服-小董</a></li>
            <li><a href="http://wpa.qq.com/msgrd?v=3&uin=956251234&site=qq&menu=yes">客服-小讯</a></li>
            <div class="clear"></div>
          </ul>
        </div>
        <span class="arrow-right"></span>
      </div>
    </div>
  </div>
  <div class="cndns-right-meau meau-contact">
    <a href="javascript:" class="cndns-right-btn">
      <span class="demo-icon">&#xe902;</span>
      <p>
        客服<br />
        热线
      </p>
    </a>
    <div class="cndns-right-box">
      <div class="box-border">
        <div class="sev-t">
          <span class="demo-icon">&#xe902;</span>
          <p>0371-25636002<br /><i>7*24小时客服服务热线</i></p>
          <div class="clear"></div>
        </div>
        <span class="arrow-right"></span>
      </div>
    </div>
  </div>
  <div class="cndns-right-meau meau-code">
    <a href="javascript:" class="cndns-right-btn">
      <span class="demo-icon">&#xe903;</span>
      <p>
        关注<br />
        微信
      </p>
    </a>
    <div class="cndns-right-box">
      <div class="box-border">
        <div class="sev-t">
          <img src="__PUBLIC__/default/kf.1.0.1/images/02index-2.jpg" />
          <i>关注官方微信</i>
        </div>
        <span class="arrow-right"></span>
      </div>
    </div>
  </div>
</div>

<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?9717951d9fc0f335f53567ff8d4e7240";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
</body>
</html>