<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{:$title}-移动支付管理平台</title>
    <link rel="shortcut icon"  href="__ROOT__/favicon.ico" />
    <link href="__PUBLIC__/statics/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/statics/css/nifty.min.css" rel="stylesheet">
    <link href="__PUBLIC__/statics/css/demo/nifty-demo-icons.min.css" rel="stylesheet">
    <link href="__PUBLIC__/statics/css/demo/nifty-demo.min.css" rel="stylesheet">
    <link href="__PUBLIC__/statics/plugins/switchery/switchery.css" rel="stylesheet">
    <link href="__PUBLIC__/statics/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <link href="__PUBLIC__/statics/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.css" rel="stylesheet">
    <link href="__PUBLIC__/statics/plugins/chosen/chosen.min.css" rel="stylesheet">
    <link href="__PUBLIC__/statics/plugins/noUiSlider/nouislider.min.css" rel="stylesheet">
    <link href="__PUBLIC__/statics/plugins/select2/css/select2.min.css" rel="stylesheet">
    <link href="__PUBLIC__/statics/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="__PUBLIC__/statics/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="__PUBLIC__/statics/plugins/pace/pace.min.css" rel="stylesheet">
    <link href="__PUBLIC__/statics/plugins/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="__PUBLIC__/statics/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">
    <link href="__PUBLIC__/statics/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="__PUBLIC__/statics/css/themes/type-b/theme-light.min.css" rel="stylesheet">
    <script type="text/javascript" src="__PUBLIC__/statics/plugins/pace/pace.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/statics/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/statics/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/statics/js/nifty.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/statics/js/demo/nifty-demo.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/statics/plugins/switchery/switchery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/statics/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/statics/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/statics/plugins/chosen/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/statics/plugins/noUiSlider/nouislider.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/statics/plugins/select2/js/select2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/statics/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/statics/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/artDialog/jquery.artDialog.js?skin=simple"></script>
    <script type="text/javascript" src="__PUBLIC__/artDialog/plugins/iframeTools.js"></script>
    <script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/fancybox/jquery.fancybox.js"></script>
    <link href="__PUBLIC__/statics/plugins/switchery/switchery.min.css" rel="stylesheet">
    <script src="__PUBLIC__/statics/plugins/switchery/switchery.min.js"></script>
    <script src="__PUBLIC__/datetime/jquery.datetimepicker.js"></script>
    <link href="__PUBLIC__/datetime/jquery.datetimepicker.css" rel="stylesheet">
    <script src="__PUBLIC__/statics/plugins/bootbox/bootbox.min.js"></script>
</head>

<!--全局 CCL-->
<body>

