<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no"/>
    <title>付款给商家</title>
    <link rel="stylesheet" href="/Ext?g=pays_sss">
    <script type="text/javascript" src="/Ext?g=pays_sjs"></script>
    </head>
<body>
<div id="xun_pay">
    <div class="space" style="padding-top: 10px;">
        <div class="prompt"><span class="collection"></span>{$store.name}</div>
        <div class="key-ipt">
            <span class="key-title">金额</span>
            <span class="key-cursor animate"></span>
            <span class="key-span" id="key-span"></span>
            <span class="key-icon">￥</span>
            <input type="hidden" id="key-input" value="">
        </div>
        <div style="color: #108ee9;text-align: left;font-size: 13px;margin-top: 5px">
            <p style="font-weight:600">温馨提示:</p>
            <p>请在付款前核实商户的真实性,否则产生资金损失自行承担!</p>
        </div>
    </div>

    <div class="keyboard" id="keyboard">
        <div class="copyright flexBox">
            <span class="line"></span>
            <span class="word">由<php>echo DomainAuthData('web_name');</php>提供技术支持</span>
            <span class="line"></span>
        </div>
        <div class="keys">
            <div class="left">
                <div class="key" data-code="1">1</div>
                <div class="key" data-code="2">2</div>
                <div class="key" data-code="3">3</div>
                <div class="key" data-code="4">4</div>
                <div class="key" data-code="5">5</div>
                <div class="key" data-code="6">6</div>
                <div class="key" data-code="7">7</div>
                <div class="key" data-code="8">8</div>
                <div class="key" data-code="9">9</div>
                <div class="key gray" data-code="xc">清空</div>
                <div class="key" data-code="0">0</div>
                <div class="key gray" data-code=".">.</div>
            </div>
            <div class="qr">
                <div class="delete key" data-code="backspace"></div>
                <div  class="all-pay od">
                    <div class="word big">付款</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/Ext?g=pays_sui"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
var xun_data=['{$user_agent}','{$openid}','{$store.id}','{$store.sid}'];
</script>
</html>