<include file="Public/header"/>
<div id="content-container">
    <div id="page-content">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">{:$title}</h3>

            </div>
            <!--筛选功能开始-->
            <div class="row">
                <div class="col-sm-12">
                    <form method="post" action="" ajax="n">
                        <div class="panel-body">
                            <div class="row ">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">推广员</label>
                                        <input class="form-control" type="text" placeholder="名称或手机号检索" name="search_val" value="">
                                    </div>
                                </div>
                                <div class="text-right">
                                    <button class="btn btn-success" type="submit">搜索</button>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
            <!--筛选功能结束-->
            <div class="panel-body">
                <!--<div class="pad-btm form-inline">-->
                <!--<div class="row">-->
                <!--<div class="col-sm-6 text-xs-center">-->
                <!--<div class="form-group">-->
                <!--<button id="add" class="btn btn-purple"><i class="demo-pli-add icon-fw"></i>添加-->
                <!--</button>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-6 text-xs-center text-right">-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <table id="demo-foo-addrow" class="table table-bordered table-hover toggle-circle table-vcenter" data-page-size="7">
                    <thead>
                    <tr>
                        <th class="text-center">推广员</th>
                        <th class="text-center">推广人数</th>
                        <th class="text-center">直推分润</th>
                        <th class="text-center">间推分润</th>
                        <th class="text-center" style="color: red">总分润</th>
                        <th class="text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name="data" item="v">
                        <tr>
                            <td class="text-center"><php>$seller=Get_Seller($v['pid']); if($seller){echo $seller['mch_name'].'|'.$seller['mch_tel'];}else{echo '平台直推';}</php></td>
                            <td class="text-center">{$v.count}人</td>
                            <td class="text-center">{$v.ztBenefit}元</td>
                            <td class="text-center">{$v.jtBenefit}元</td>
                            <td class="text-center" style="color: red">{$v.benefit}元</td>
                            <eq name="v.pid" value="0">
                                <td class="text-center"><button class="btn btn-purple btn-sm" type="button" disabled>分润详情</button></td>
                            <else/>
                                <td class="text-center"><button class="btn btn-purple btn-sm" type="button"  onclick="detail({$v['pid']})" >分润详情</button></td>
                            </eq>

                        </tr>
                    </foreach>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="11">
                            <div class="text-right">
                                <ul class="pagination">{$page}</ul>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/plug/CSXClass/distpicker.min.js"></script>
<script>
    function detail(id) {
        window.location.href='{:U("benefitDetail")}/id/'+id
    }
</script>
<include file="Public/footer"/>