<include file="Public/header"/>
<div id="content-container">
    <div id="page-content">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">{:$title}</h3>

            </div>
            <div class="panel-body">
                <div class="pad-btm form-inline">
                    <div class="row">
                        <div class="col-sm-6 text-xs-center">
                            <div class="form-group">
                                <button id="add" class="btn btn-purple"><i class="demo-pli-add icon-fw"></i>添加等级
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 text-xs-center text-right">
                        </div>
                    </div>
                </div>
                <table id="demo-foo-addrow" class="table table-bordered table-hover toggle-circle table-vcenter" data-page-size="7">
                    <thead>
                    <tr>
                        <th class="text-center">名称</th>
                        <th class="text-center">直推百分比</th>
                        <th class="text-center">间推百分比</th>
                        <th class="text-center">满足人数(升级)</th>
                        <th class="text-center">添加时间</th>
                        <th class="text-center">更新时间</th>
                        <th class="text-center">状态</th>
                        <th class="text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name="data" item="v">
                        <tr>
                            <td class="text-center">{$v.name}</td>
                            <td class="text-center">{$v.zt}%</td>
                            <td class="text-center">{$v.jt}%</td>
                            <td class="text-center">{$v.up_number}人</td>
                            <td class="text-center">{$v.create_time|date='Y-m-d H:i:s',###}</td>
                            <td class="text-center">{$v.update_time|date='Y-m-d H:i:s',###}</td>
                            <td class="text-center">
                                <if condition="$v['status'] eq 1">
                                    <span class="label label-info" style="color: #fff;font-size:12px;font-weight:1;border-radius: 5px;">启用</span>
                                    <else/>
                                    <span class="label label-default" style="cursor:pointer;font-size:12px;font-weight:1;border-radius: 5px;">禁用</span>
                                </if>
                            </td>
                            <td class="text-center">
                                <button class="btn btn-purple btn-sm" type="button"  onclick="edit({$v['id']})" >编辑</button>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="11">
                            <div class="text-right">
                                <ul class="pagination">{$page}</ul>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/plug/CSXClass/distpicker.min.js"></script>
<script>
    function edit (s) {
        window.location.href="{:U('gradeSet')}/id/"+s;
    }

    $('#add').on('click',function () {
        window.location.href="{:U('gradeSet')}";
    })
</script>
<include file="Public/footer"/>