<extend name="Common:base"/>
<block name="top_css">
    <link href="__PUBLIC__/amp/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="__PUBLIC__/amp/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="__PUBLIC__/amp/plugins/spinkit/spinkit.css" rel="stylesheet" />
    <link href="__PUBLIC__/amp/plugins/jquery-toastr/jquery.toast.min.css" rel="stylesheet" />
    <style>
        .pagination{display:inline-block;padding-left:0;margin:0px 0;border-radius:4px;}
        .pagination>li{display:inline;}
        .pagination>li>a{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.42857143;color:#337ab7;text-decoration:none;background-color:#fff;border:1px solid #ddd;}
        .pagination>li:first-child>a{margin-left:0;border-top-left-radius:4px;border-bottom-left-radius:4px;}
        .pagination>li:last-child>a{border-top-right-radius:4px;border-bottom-right-radius:4px;}
        .pagination>li>a:focus,.pagination>li>a:hover{z-index:2;color:#23527c;background-color:#eee;border-color:#ddd;}
        .pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover{z-index:3;color:#fff;cursor:default;background-color:#337ab7;border-color:#337ab7;}
        .pull-right{float:none!important;}
        .pagination>li a:active{box-shadow:inset 0 3px 1px rgba(0,0,0,0.2);}
        .pagination>li a:hover,.pagination>li a:focus{background-color:#fff;border-color:#42a5f5;color:#42a5f5;box-shadow:inset 0 0 1px #42a5f5;z-index:2;transition:border-color,0.3s;}
        .pagination>li>a{color:inherit;border-color:#dcdcdc;transition:border-color,0.3s;}
        .pagination>li:first-child>a{border-top-left-radius:0;border-bottom-left-radius:0;}
        .pagination>li:last-child>a{border-top-right-radius:0;border-bottom-right-radius:0;}
        .pagination>.active>a,.pagination>.active>a:hover,.pagination>.active>a:focus{background-color:#42a5f5;border-color:#42a5f5;}
        .pagination>li>a{background-color:transparent;color:inherit;}
        .pagination>li>a:focus{box-shadow:none;}
        .pagination>li a:hover,.pagination>li a:focus{border-color:#00bcd4;color:#00bcd4;box-shadow:inset 0 0 1px #00bcd4;}
        .pagination>.active>a,.pagination>.active>a:hover,.pagination>.active>a:focus{background-color:#00bcd4;border-color:#00bcd4;}

    </style>
</block>
<block name="body">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-sm-12">
                        <form action="{:U('')}" method="post">
                            <div class="form-row align-items-center">
                                <div class="form-group col-md-2">
                                    <label class="col-form-label" for="inlineFormInput">交易单号</label>
                                    <input type="text" class="form-control mb-2" name="oid" id="inlineFormInput" placeholder="订单号/官方订单号">
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="col-form-label" for="date">日期范围</label>
                                    <input type="text" class="form-control mb-2" name="time" id="date" placeholder="交易时间范围">
                                </div>
                                <button type="submit" class="btn btn-info mb-2" style="margin-top: 20px">搜索</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                <h4 class="m-t-0 header-title">交易流水</h4>
                <p class="text-muted font-14 m-b-20">
                    流水默认只显示当天交易数据 如需显示更多流水,请使用流水筛选功能 单号为全局检索 不受时间限制
                </p>

                <table class="table">
                    <thead>
                    <tr>
                        <th>门店名称</th>
                        <th>交易类型</th>
                        <th>交易时间</th>
                        <th>完成时间</th>
                        <th>交易金额</th>
                        <th>交易单号</th>
                        <th>上游单号</th>
                        <th>交易状态</th>
                        <th>通道类型</th>
                        <th>支付通道</th>
                        <!--<th>通知状态</th>-->
                        <!--<th>通知补发</th>-->
                        <th>退款</th>
                    </tr>
                    </thead>
                    <tbody>


                    <volist name="list" id="v" empty="当日暂时没有交易数据" >
                    <tr>
                        <th scope="row"><php>$store=Get_Store($v['store_id']); echo $store['name'];</php></th>
                        <td>{$v['service']|pays_type}</td>
                        <td>{$v['createtime']|date='Y-m-d H:i:s',###}</td>
                        <td>{$v['time_end']|date='Y-m-d H:i:s',###}</td>
                        <td>{$v['total_fee']}</td>
                        <td>{$v['out_trade_no']}</td>
                        <td>{$v['transaction_id']}</td>
                        <td>{$v['status']|pays_status}</td>
                        <td>{$v['type']}</td>
                        <td>{$v.alleys|alleys_name}</td>
                        <!--<td>-->
                            <!--<php>$status=get_api_notify($v['out_trade_no'],'send_status');if($status==1){</php>-->
                            <!--<span class="badge label-table badge-success">成功</span>-->
                        <!--<php>}else{</php>-->
                            <!--<span class="badge label-table badge-secondary">失败</span>-->
                        <!--<php>}</php>-->
                        <!--</td>-->

                        <!--<td>-->
                            <!--<div id="notifyLoading_{$v.out_trade_no}" class="sk-fading-circle" style="height: 20px;width: 20px;margin: 0 auto;display: none">-->
                                <!--<div class="sk-circle1 sk-circle"></div>-->
                                <!--<div class="sk-circle2 sk-circle"></div>-->
                                <!--<div class="sk-circle3 sk-circle"></div>-->
                                <!--<div class="sk-circle4 sk-circle"></div>-->
                                <!--<div class="sk-circle5 sk-circle"></div>-->
                                <!--<div class="sk-circle6 sk-circle"></div>-->
                                <!--<div class="sk-circle7 sk-circle"></div>-->
                                <!--<div class="sk-circle8 sk-circle"></div>-->
                                <!--<div class="sk-circle9 sk-circle"></div>-->
                                <!--<div class="sk-circle10 sk-circle"></div>-->
                                <!--<div class="sk-circle11 sk-circle"></div>-->
                                <!--<div class="sk-circle12 sk-circle"></div>-->
                            <!--</div>-->
                            <!--<button id="notify_{$v.out_trade_no}" data-id="{$v.out_trade_no}" style="cursor: pointer" class="btn btn-sm order-notify badge label-table badge-success">补发</button>-->
                        <!--</td>-->
                        <td>
                            <div id="oLoading_{$v.out_trade_no}" class="sk-fading-circle" style="height: 20px;width: 20px;margin: 0 auto;display: none">
                                <div class="sk-circle1 sk-circle"></div>
                                <div class="sk-circle2 sk-circle"></div>
                                <div class="sk-circle3 sk-circle"></div>
                                <div class="sk-circle4 sk-circle"></div>
                                <div class="sk-circle5 sk-circle"></div>
                                <div class="sk-circle6 sk-circle"></div>
                                <div class="sk-circle7 sk-circle"></div>
                                <div class="sk-circle8 sk-circle"></div>
                                <div class="sk-circle9 sk-circle"></div>
                                <div class="sk-circle10 sk-circle"></div>
                                <div class="sk-circle11 sk-circle"></div>
                                <div class="sk-circle12 sk-circle"></div>
                            </div>
                            <php>$r=is_method_refund($v['alleys']);if(false==$r){</php>
                            <button  style="cursor: pointer" class="btn btn-sm order-reload badge label-table badge-custom" disabled>退款</button>
                            <php>}else{</php>
                            <button id="oReload_{$v.out_trade_no}" data-id="{$v.out_trade_no}" style="cursor: pointer" class="btn btn-sm order-reload badge label-table badge-custom" <neq name="v.status" value="1">disabled</neq> >退款</button>
                            <php>}</php>

                        </td>
                    </tr>
                    </volist>
                    </tbody>
                </table>
                <div  style="text-align: right">
                    {$page}
                </div>
            </div>
        </div>
    </div>
</block>
<block name="footer_js">
    <script src="__PUBLIC__/amp/plugins/moment/moment.js"></script>
    <script src="__PUBLIC__/amp/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="__PUBLIC__/amp/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="__PUBLIC__/amp/plugins/jquery-toastr/jquery.toast.min.js" type="text/javascript"></script>
    <script>
        jQuery(document).ready(function () {
            $('#date').daterangepicker({
                format: 'MM/DD/YYYY',
                startDate:false,
                endDate: moment(),
                minDate: '01/01/2017',
                maxDate: '12/31/2021',
                dateLimit: {
                    days: 31
                },
                showDropdowns: true,
                showWeekNumbers: false,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    '今日': [moment(), moment()],
                    '昨日': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    '近7天': [moment().subtract(6, 'days'), moment()],
                    '近30天': [moment().subtract(29, 'days'), moment()],
                    '本月': [moment().startOf('month'), moment().endOf('month')],
                    '上月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'left',
                drops: 'down',
                buttonClasses: ['btn', 'btn-sm'],
                applyClass: 'btn-success',
                cancelClass: 'btn-light',
                separator: ' to ',
                locale: {
                    applyLabel: '确定',
                    cancelLabel: '取消',
                    fromLabel: '起始时间',
                    toLabel: '结束时间',
                    customRangeLabel: '自定义',
                    daysOfWeek: ["日", "一", "二", "三", "四", "五", "六"],
                    monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                    firstDay: 1
                }
            }, function (start, end, label) {
                //$('#date span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            });
        });

        $('.order-reload').click(function () {
            var oid=$(this).data('id');
            var loading=$('#oLoading_'+oid),reload=$('#oReload_'+oid);
            reload.hide();
            loading.show();
            $.post('{:U("orderRefund")}?Debug=1', {oid:oid}, function (data) {
                reload.show();
                loading.hide();
                if (data.status === 1) {
                    $.toast({
                        heading: '温馨提示',
                        text: data.info,
                        position: 'top-right',
                        loaderBg: '#5ba035',
                        icon: 'success',
                        hideAfter: 3000,
                        stack: 1
                    });
                    setTimeout(function () {
                        window.location.href = data.url
                    }, 3000);
                }
                else {
                    $.toast({
                        heading: '温馨提示',
                        text: data.info,
                        position: 'top-right',
                        loaderBg: '#bf441d',
                        icon: 'error',
                        hideAfter: 3000,
                        stack: 1
                    });
                }
            }, 'json');
        });

        $('.order-notify').click(function () {
            var oid=$(this).data('id');
            var loading=$('#notifyLoading_'+oid),reload=$('#notify_'+oid);
            reload.hide();
            loading.show();
            $.post('{:U("orderNotify")}?Debug=1', {oid:oid}, function (data) {
                reload.show();
                loading.hide();
                if (data.status === 1) {
                    $.toast({
                        heading: '温馨提示',
                        text: data.info,
                        position: 'top-right',
                        loaderBg: '#5ba035',
                        icon: 'success',
                        hideAfter: 3000,
                        stack: 1
                    });
                    setTimeout(function () {
                        window.location.href = data.url
                    }, 5000);
                }
                else {
                    $.toast({
                        heading: '温馨提示',
                        text: data.info,
                        position: 'top-right',
                        loaderBg: '#bf441d',
                        icon: 'error',
                        hideAfter: 3000,
                        stack: 1
                    });
                }
            }, 'json');
        })
    </script>
</block>