html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
div,
span,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
div,
input {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
html,
body {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #1d1d1d;
}
button {
  outline: none;
}
input::-ms-clear {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: none 0;
}
a:hover,
a:active {
  outline: none 0;
  background-color: transparent !important \0;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/* 项目通用demo
 * 避免fixed定位
 * start
 * z-index { global>99 handel>49 }
 */
.flex-box-column {
  flex-direction: column;
}
.flexBox {
  display: box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  text-align: center;
}
div,
p,
span {
  word-break: break-all;
}
.clear {
  width: 0 !important;
  height: 0 !important;
  clear: both;
}
.none {
  display: none;
}
/* 透明 input*/
.input-sky {
  position: relative;
}
.input-sky input::-webkit-input-placeholder {
  color: #aab2d2 !important;
}
.input-sky input:-moz-placeholder {
  color: #aab2d2 !important;
}
.input-sky input::-moz-placeholder {
  color: #aab2d2 !important;
}
.input-sky input:-ms-input-placeholder {
  color: #aab2d2 !important;
}
.input-sky input {
  width: 100%;
  font-size: 16px;
  color: #111111;
  border: 0;
  background-color: transparent;
}
input:focus {
  border: none;
}
#success {
  width: 100%;
  height: 100%;
  background-color: #f4f5f8;
}
#success .space {
  width: 100%;
  padding: 60px 0;
  background-color: #FFF;
  border-bottom: 1px solid #e8eaf3;
}
#success .space .success {
  width: 64px;
  height: 64px;
  margin: auto;
  background: url("../assets/success.png") no-repeat center;
  background-size: 64px 64px;
}
#success .space .info {
  width: 64px;
  height: 64px;
  margin: auto;
  background: url("../assets/info.png") no-repeat center;
  background-size: 64px 64px;
}
#success .space .error {
  width: 64px;
  height: 64px;
  margin: auto;
  background: url("../assets/error.png") no-repeat center;
  background-size: 64px 64px;
}
#success .space .text {
  font-size: 18px;
  color: #5b648d;
  margin-top: 25px;
}
#success .group {
  width: 100%;
  height: 52px;
  background-color: #FFF;
  border-bottom: 1px solid #e8eaf3;
  padding: 0 15px;
}
#success .group .left {
  line-height: 52px;
  float: left;
  text-align: left;
  font-size: 15px;
  color: #8c93b2;
}
#success .group .right {
  line-height: 52px;
  float: right;
  text-align: right;
  font-size: 15px;
  color: #5a638c;
}
#success .group .right span {
  color: #fd4f4f;
}
#success .ad {
  display: block;
  margin-top: 5px;
}
#success .ad img {
  width: 100%;
}
